<footer id="footer">
    <div class="inner_footer clearfix">
        <h1 class="logo">
            <a href="/" class="btn_logo_ft">
                <img src="/static/images/img_logo_ft.gif" alt="홀덤클럽" width="121" height="40" />
            </a>
        </h1>
        <div class="info">
            <ul class="nav_ft clearfix">
                <li class="ft_list"><a href="http://www.intertoday.com" class="link_ft" target="_blank">회사소개</a></li>
                <li class="split">|</li>
                <li class="ft_list"><a href="/" class="link_ft">이용약관</a></li>
                <li class="split">|</li>
                <li class="ft_list"><a href="/" class="link_ft">개인정보취급방침</a></li>
            </ul>
            <address>
                <p>서울특별시 성동구 왕십리로 257 칠성빌딩 3층 1호, (주)인터투데이</p>
                <p>대표 : 황규훈 &nbsp;&nbsp; 사업자번호 : 465-86-00424 &nbsp;&nbsp; 전화 : 070-4229-0102 &nbsp;&nbsp; 메일: <a href="mailto:info@holdemclub.tv" class="info_email">info@holdemclub.tv</a></p>
                <p>2013 Copyright holdemclub.tv All rights reserved.</p>
            </address>
        </div>
        <div class="sns">
            <a href="https://www.facebook.com/holdemclubtv" target="_blank" title="페이스북"><img src="/static/images/ico_facebook.png" alt="페이스북" width="44" height="44" /></a>&nbsp;
            <a href="https://www.youtube.com/channel/UC5r-SOM0VmWJJyVvYpvC0lg" target="_blank" title="유튜브"><img src="/static/images/ico_youtube.png" alt="유튜브" width="44" height="44" /></a>
        </div>
    </div>
</footer>