<hr />


<div class="tp_ft_nav_wrp">
  <div class="tp_ft_nav_inner">
    <ol class="tp_ft_nav clearfix">
      <li class="ft_nav_li"><a href="/" class="ft_nav_link">개인정보취급방침</a></li>
      <li class="ft_nav_li"><a href="/" class="ft_nav_link">서비스이용약관</a></li>
      <li class="ft_nav_li"><a href="/" class="ft_nav_link">이메일추출방지정책</a></li>
      <li class="ft_nav_li"><a href="/" class="ft_nav_link">회사소개</a></li>
      <li class="ft_nav_li"><a href="/" class="ft_nav_link">오시는길</a></li>
      <li class="ft_nav_li"><a href="/" class="ft_nav_link">사이트맵</a></li>
    </ol>
  </div>
</div>


<div class="tp_ft">
  <div class="tp_ft_inner">
    <h1 class="lg_ft"><img src="/static/images/main/img_ft_logo.gif" alt="탑스투자그룹" /></h1>
    <p class="addr">
      회사명: 주식회사 엠에이치인베스트먼트 <span class="split">|</span>
      대표이사: 이지민 <span class="split">|</span>
      사업자등록번호 : 739-87-00870 <span class="split">|</span>
      통신판매업신고번호 : 2017-경기부천-0320호 <br />
      주소 : 경기도 부천시 중동로254번길 78 <span class="split">|</span>
      개인정보관리책임자 : 이지민
    </p>
    <p class="addr_contact">
      <span class="txt-addr">대표번호</span>&nbsp;&nbsp;
      <strong class="txt-addr-2">1522-6619</strong>&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="txt-addr">입금안내</span>&nbsp;&nbsp;
      <strong class="txt-addr-2">288002-01-0100100</strong>
      <strong class="txt-addr">국민은행</strong>&nbsp;&nbsp;
      <span class="txt-addr">(주)엠에이치인베스트먼트</span>
    </p>
  </div>
</div>