<footer class="footer_s">
    <address class="addr">2013 Copyright holdemclub.tv All rights reserved.</address>
    <a href="/usage" class="btn-usage">이용약관</a>
    <span class="split">|</span>
    <a href="/privacy" class="btn-privacy">개인정보취급방침</a>
</footer>