<div class="header">
    <h1 class="logo_area">
        <a href="/" class="btnLeftMenu"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a href="/" class="logo">
            <!-- 이미지로 변환할 것. -->
            <img src="/static/images/img_logo.png" alt="홀덤클럽" width="30" height="30" class="img_logo" />
            <span class="text-red">홀덤</span><span class="text-black">클럽</span>
        </a>
    </h1>

    {{#if loggedIn}}
        {{#unless (isEquals current_path 'PRIVATE')}}<a href="/private" class="btn-private btn btn-danger btn-md">마이페이지</a>{{/unless}}
        {{!-- <span class="pull-right">nickname : {{loggedIn.nickname}} / username : {{loggedIn.username}} </span> --}}
        <a href="/logout" class="btn_login btn btn-default btn-md">로그아웃</a>
    {{else}}
        <a href="/login" class="btn_login btn btn-danger btn-md">로그인</a>
        <a href="/signup" class="btn btn-default btn-md btn-signup">회원가입</a>
    {{/if}}
</div>