<div id="top">
    <div class="inner_top">
        {{#if loggedIn}}
            <ul class="local_nav clearfix">
                <!--<li class="local_nav_list">-->
                <!--<span class="nickname">{{loggedIn.nickname}}</span>-->
                <!--</li>-->
                <li class="local_nav_list"><a href="/private" class="btn_mypage">마이페이지</a></li>
                <li class="split">|</li>
                <li class="local_nav_list"><a href="/logout" class="btn_logout">로그아웃</a></li>
            </ul>
            <!--<span class="nickname">{{loggedIn.nickname}}</span>-->
                <!--{{#unless (isEquals current_path 'PRIVATE')}}-->
            <!--<a href="/private" class="btn_mypage">마이페이지</a>-->
                <!--{{/unless}}-->
            <!--<a href="/logout" class="btn_logout">로그아웃</a>-->
        {{else}}
            <a href="/login" class="btn_login">로그인</a>
            <span class="split">|</span>
            <a href="/signup" class="btn_signup">회원가입</a>
        {{/if}}
    </div>
</div>

<div id="header">
    <div class="inner_header clearfix">
        <h1 class="logo">
            <a href="/"><img src="/static/images/img_logo.png" alt="홀덤클럽로고" width="168" height="54" /></a>
        </h1>

        <ol id="nav_top" class="clearfix">
            <li class="nav_list"><a href="/game" class="link_nav {{#if (isEquals current_path 'GAME')}}active{{/if}}">포커게임</a></li>
            <li class="nav_list"><a href="/crew" class="link_nav {{#if (isEquals current_path 'CREW')}}active{{/if}}">홀클 크루</a></li>
            <!--<li class="nav_list"><a href="/event" class="link_nav {{#if (isEquals current_path 'EVENT')}}active{{/if}}">이벤트</a></li>-->
            <li class="nav_list"><a href="/community" class="link_nav {{#if (isEquals current_path 'COMMUNITY')}}active{{/if}}">커뮤니티</a></li>
            <li class="nav_list"><a href="/partnership" class="link_nav {{#if (isEquals current_path 'PARTNERSHIP')}}active{{/if}}">제휴 문의</a></li>
        </ol>
    </div>
</div>