<div class="tp_hd">
  <div class="tp_hd_inner">
    <h1 class="tp_lg"><a href="/"><img src="/static/images/main/img_logo.jpg" alt="탑스투자그룹" /></a></h1>
    <span class="tp_tel"><img src="/static/images/main/img_txt_tel.gif" alt="고객센터 1522-6619"></span>
  </div>
</div>