<div class="m_footer">
    <ol class="m_ft_nav clearfix">
        <li class="m_ft_list"><a href="http://www.intertoday.com" target="_blank" class="m_ft_link">회사소개</a></li>
        <li class="split">|</li>
        <li class="m_ft_list"><a href="/usage" class="m_ft_link">이용약관</a></li>
        <li class="split">|</li>
        <li class="m_ft_list"><a href="/privacy" class="m_ft_link">개인정보취급방침</a></li>
    </ol>
    <ul class="m_sns clearfix">
        <li class="m_sns_list"><a href="https://www.facebook.com/holdemclubtv" target="_blank"><img src="/static/images/ico_facebook.png" alt="페이스북" width="35" /></a></li>
        <li class="m_sns_list"><a href="https://www.youtube.com/channel/UC5r-SOM0VmWJJyVvYpvC0lg"><img src="/static/images/ico_youtube.png" alt="유튜브" width="35" /></a></li>
    </ul>
    <address>2013 Copyright. Holdemclub. All Rights Reserved.</address>
</div>
