<div class="m_header">
    <div class="m_download_spot center">
        <a href="/"><img src="/static/images/mobile/banner_download_m.jpg" alt="게임 다운로드" class="m_banner_download" /></a>
    </div>
    
    <div class="m_top_nav">
        <h1 class="logo">
            <a href="/" class="btn-lg">
                <img src="/static/images/mobile/m_logo.jpg" alt="홀덤클럽티비" width="160" />
            </a>
            <a href="#" class="btn-channel-list"><img src="/static/images/mobile/btn_channel_list.jpg" alt="채널 보기" width="35" /></a>
            <a href="#" class="btn-nav-list"><img src="/static/images/mobile/btn_hamberg.jpg" alt="네비게이션" width="25" /></a>
        </h1>
    </div>
</div>
