<ol class="index_top_nav clearfix">
    <li>
        <a href="/game">
            <i class="ico ico_poker"></i>
            포커게임
        </a>
    </li>
    <li>
        <a href="/crew">
            <i class="ico ico_crew"></i>
            홀클크루
        </a>
    </li>
    <li>
        <a href="/community">
            <i class="ico ico_community"></i>
            커뮤니티
        </a>
    </li>
    <li>
        <a href="/partnership">
            <i class="ico ico_partnership"></i>
            제휴문의
        </a>
    </li>
</ol>