<div class="tp_nav">
  <nav class="nav">
    <ol class="tp_navigation clearfix">
      <li class="nav_li"><a href="/" class="nav_link active">탑스투자그룹소개</a></li>
      <li class="nav_li"><a href="/" class="nav_link">서비스안내</a></li>
      <li class="nav_li"><a href="/" class="nav_link">VIP가입안내</a></li>
      <li class="nav_li"><a href="/" class="nav_link">이용후기</a></li>
      <li class="nav_li"><a href="/" class="nav_link">투자정보</a></li>
      <li class="nav_li"><a href="/" class="nav_link">고객센터</a></li>
    </ol>
  </nav>
</div>

<hr />