<div class="tp_nav">
  <nav class="nav">
    <ol class="tp_navigation clearfix">
      <li class="nav_li"><a href="/" class="nav_link {{#if (isEquals current_path 'INDEX')}}active{{/if}}">탑스투자그룹소개</a></li>
      <li class="nav_li"><a href="/service_info" class="nav_link {{#if (isEquals current_path 'SERVICE')}}active{{/if}}">서비스안내</a></li>
      <li class="nav_li"><a href="/vip" class="nav_link {{#if (isEquals current_path 'VIP')}}active{{/if}}">VIP가입안내</a></li>
      <li class="nav_li"><a href="javascript:alert('준비중입니다.');" class="nav_link {{#if (isEquals current_path 'REVIEW')}}active{{/if}}">이용후기</a></li>
      <li class="nav_li"><a href="javascript:alert('준비중입니다.');" class="nav_link {{#if (isEquals current_path 'INVESTMENT')}}active{{/if}}">투자정보</a></li>
      <li class="nav_li"><a href="javascript:alert('준비중입니다.');" class="nav_link {{#if (isEquals current_path 'CSCENTER')}}active{{/if}}">고객센터</a></li>
    </ol>
  </nav>
</div>

<hr />