{{>header}}
{{>navigation}}
<div class="tp_body">
  {{! content }}
  <div class="tp_landing">
    <section class="spot_banner clearfix">
      <div class="tp_expert_stock">
          <span class="signal_air air_on"></span>
        <img src="/static/images/main/img_profile_leeyongwoo.jpg" alt="전문가 이용우" />
      </div>
      <div class="tp_banner">
          <div class="swiper-container spot_top_banner">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <a href="#"><img src="/static/images/banner/banner_event_02.jpg" alt="" /></a>
                  </div>
                  <div class="swiper-slide">
                      <a href="#"><img src="/static/images/banner/banner_event_01.jpg" alt="" /></a>
                  </div>
                  <div class="swiper-slide">
                      <a href="#"><img src="/static/images/banner/banner_event_03.jpg" alt="" /></a>
                  </div>
              </div>

              <div class="swiper-pagination"></div>
              <!--<div class="swiper-button-prev"></div>-->
              <!--<div class="swiper-button-next"></div>-->
          </div>
          {{>wing}}
      </div>
    </section>

	  <section class="vip_count">
		  <div class="tp_vip_count">
        <span class="vip_info_pos">
          <strong class="person_count">6,401</strong><span class="unit">명</span>
        </span>
		  </div>
		  <div class="current_apply">
			  <div class="participant">
				  <div class="TickerNews" id="T1">
					  <div class="ti_wrapper">
						  <div class="ti_slide">
							  <div class="ti_content">
								  <div class="ti_news"><span>-</span> <strong>김미영(678*) </strong>님이 무료 체험을 신청하셨습니다.</div>
								  <div class="ti_news"><span>-</span> <strong>황규진(782*) </strong>님이 무료 체험을 신청하셨습니다.</div>
								  <div class="ti_news"><span>-</span> <strong>이재진(091*) </strong>님이 무료 체험을 신청하셨습니다.</div>
								  <div class="ti_news"><span>-</span> <strong>정동일(536*) </strong>님이 무료 체험을 신청하셨습니다.</div>
							  </div>
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
	  </section>

    <section class="profile_list clearfix">
      <div class="p_list">
          <span class="desc">익숙한종목과 결별하라!<br /> 냉철한 분석으로 시장을 재패하겠습니다.</span>
          <span class="signal_air air_off"></span>
          <img src="/static/images/profile/img_profile_01.jpg" alt="" />
      </div>
      <div class="p_list">
          <span class="desc">차트는 거짓말을 하지 않습니다. 진실된 분석으로 언제나 승리합니다.</span>
          <span class="signal_air air_on"></span>
          <img src="/static/images/profile/img_profile_02.jpg" alt="" />
      </div>
      <div class="p_list">
          <span class="desc">기업의 진정한 가치를 찾아 발빠르게 대응합시다. 여러분의 나침반 채서희 입니다.</span>
          <span class="signal_air air_on"></span>
          <img src="/static/images/profile/img_profile_03.jpg" alt="" />
      </div>
    </section>

	  <section class="tp_approval">
		  <strong class="whole-benefit-ratio">누적수익률 <span class="txt-yellow">4,000%</span> 돌파!</strong>
		  <a href="#" class="btn-view-approval-doc"></a>
	  </section>

    <section class="tp_progress clearfix">
      <div class="tp_benefit clearfix">
          <div style="float: left;margin-right: 15px;">
              <img src="/static/images/banner/img_ban_result_01.jpg" alt="" style="display: block; margin-bottom: 15px;" />
              <img src="/static/images/banner/img_ban_result_02.jpg" alt="" />
          </div>
          <div style="float: left">
              <img src="/static/images/banner/img_ban_result_03.gif" alt="" />
          </div>
      </div>
      <div class="tp_current_benefit">
        <h3 class="tit center bold">실시간 수익현황</h3>
        <ol class="bf_list_wrp">
          <li class="bf_list">
            <strong class="target">삼성전자</strong><span class="num">[01234]</span>
            <strong class="percentage">63.27%</strong>
          </li>
          <li class="bf_list">
            <strong class="target">삼성전자</strong><span class="num">[01234]</span>
            <strong class="percentage">63.27%</strong>
          </li>
          <li class="bf_list">
            <strong class="target">삼성전자</strong><span class="num">[01234]</span>
            <strong class="percentage">63.27%</strong>
          </li>
          <li class="bf_list">
            <strong class="target">삼성전자</strong><span class="num">[01234]</span>
            <strong class="percentage">63.27%</strong>
          </li>
          <li class="bf_list">
            <strong class="target">삼성전자</strong><span class="num">[01234]</span>
            <strong class="percentage">63.27%</strong>
          </li>
        </ol>
        <a href="/post_review" class="btn-more-benefit"><img src="/static/images/main/btn-entire-benefit.png" alt="수익현황 전체보기" /></a>
      </div>
    </section>

    <section class="free_experience">
      <form action="/" method="post" class="tp_form_free">
        <label for="customer_name">이름</label>&nbsp;
        <input type="text" id="customer_name" name="customer_name" class="input_customer_name" autocomplete="off" required />&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="tel">휴대폰</label>
        <select name="tel" id="tel" class="select_tel">
          <option value="010" selected>010</option>
          <option value="011">011</option>
          <option value="016">016</option>
          <option value="017">017</option>
          <option value="018">018</option>
          <option value="019">019</option>
        </select>
        <span>-</span>
        <input type="text" name="mid-tel" class="mid-tel" maxlength="4" required autocomplete="off" />
        <span>-</span>
        <input type="text" name="end-tel" class="end-tel" maxlength="4" required autocomplete="off" />
        <p class="desc center info">※ 고객님의 정보는 상담을 위해서만 사용됩니다.</p>
        <p class="desc center">
          <input type="checkbox" name="info_agree_box" id="info_agree_box" />
          <label for="info_agree_box">개인정보 활용동의</label>
          <a href="#" target="_blank" class="btn-view-agreement">[자세히보기]</a>
        </p>
        <input type="hidden" name="_csrfToken" class="_csrfToken" value="" />
      </form>
      <a href="#" class="btn-free-exp"><img src="/static/images/main/btn-free-exp.jpg" alt="무료체험 신청하기"></a>
    </section>



    <div class="live_post_review">
        <h3 class="tit bold center">실시간 이용 후기</h3>
        <div class="slider_post_wrp">
            {{! slider review }}
            <div class="swiper-container bottom-ban-review">
                <div class="swiper-wrapper">
                    <div class="swiper-slide center">
                        <a href="/"><img src="/static/images/banner/img_post_dummy.jpg" alt="" class="brd-white" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/"><img src="/static/images/banner/img_post_dummy2.jpg" alt="" class="brd-white" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/"><img src="/static/images/banner/img_post_dummy3.jpg" alt="" class="brd-white" /></a>
                    </div>
                    <div class="swiper-slide center">
                        <a href="/"><img src="/static/images/banner/img_post_dummy3.jpg" alt="" class="brd-white" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/"><img src="/static/images/banner/img_post_dummy2.jpg" alt="" class="brd-white" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/"><img src="/static/images/banner/img_post_dummy.jpg" alt="" class="brd-white" /></a>
                    </div>
                    <div class="swiper-slide center">
                        <a href="/"><img src="/static/images/banner/img_post_dummy2.jpg" alt="" class="brd-white" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/"><img src="/static/images/banner/img_post_dummy3.jpg" alt="" class="brd-white" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/"><img src="/static/images/banner/img_post_dummy.jpg" alt="" class="brd-white" /></a>
                    </div>
                </div>

                <div class="swiper-button-prev post-button-prev"></div>
                <div class="swiper-button-next post-button-next"></div>
            </div>
            {{! -- slider review }}
        </div>
    </div>

    <div class="center" style="margin: 25px 0 35px 0;">
      <a href="/post_review"><img src="/static/images/main/btn-customer-review.gif" alt="" /></a>
    </div>

      {{!
    <section class="stock_info clearfix">
      <div class="kospi">
        <span class="name">코스피</span>
        <strong class="num">2,079.74</strong>
        <span class="percentage txt-blue bg_down_info">0.04%</span>
      </div>
      <div class="cosdaq">
        <span class="name">코스닥</span>
        <strong class="num">2,079.74</strong>
        <span class="percentage txt-blue bg_down_info">0.04%</span>
      </div>
      <div class="exchange">
        <span class="name">환율</span>
        <strong class="num">2,079.74</strong>
        <span class="percentage txt-red bg_up_info">0.04%</span>
      </div>
    </section>
    }}
  </div>
  {{! -- content }}
</div>
{{>footer}}