{{>header}}
{{>navigation}}
<div class="tp_body">
{{! content }}
    <div class="tp_service">
        <div class="tp_banner_info"></div>
        <div class="tp_content_img"></div>
        <div class="tp_wing_right"></div>
    </div>
{{! -- content }}
</div>
{{>footer}}