{{>header}}
{{>navigation}}
<div class="tp_body">
{{! content }}
    <div class="tp_vip">
        <div class="bg_ban_vip"></div>
        <div class="img_info_vip"></div>
        <div class="tp_wing_right"></div>
    </div>
{{! -- content }}
</div>
{{>footer}}