<div class="affiliate community">
    <div class="banner">
        <img src="/static/images/community/banner_community.jpg" alt="커뮤니티" width="1080" />
    </div>

    <ul class="affiliate_category clearfix">
        <li class="affiliate_list"><a href="http://cafe.naver.com/fate3377" target="_blank"><img src="/static/images/community/img_hol1000_blog.jpg" alt="" /></a></li>
        <li class="affiliate_list"><a href="http://www.pokergosu.com/" target="_blank"><img src="/static/images/community/img_pokergosu.jpg" alt="" /></a></li>
        <li class="affiliate_list"><a href="http://hol1000.com/" target="_blank"><img src="/static/images/community/img_hol1000.jpg" alt="" /></a></li>
    </ul>
</div>