<div class="crew">
    <img src="/static/images/crew/banner_crew.jpg" alt="" width="1080" />
    <ol class="list_crew">
        <li><img src="/static/images/crew/img_spunky.jpg" alt="" width="670" /></li>
        <li><img src="/static/images/crew/img_hongjinho.jpg" alt="" width="670" /></li>
        <li><img src="/static/images/crew/img_satisfaction.jpg" alt="" width="670" /></li>
        <li><img src="/static/images/crew/img_didup.jpg" alt="" width="670" /></li>
    </ol>
</div>