<h2 class="heading-s">아이디 찾기 결과</h2>

<div class="result_find_id">
    <p class="info text-center">회원님의 아이디는 <strong class="result_user">{{user_id}}</strong>입니다.</p>

    <div class="btnArea clearfix">
        <a href="/" class="btn btn-default btn-home">홈으로</a>
        <a href="/login" class="btn btn-danger btn-login">로그인</a>
    </div>

</div>
