<div class="game">
    <div class="bg01 banner_game_info center">
        <img src="/static/images/game/banner_game.jpg" alt="" />
    </div>

    <div>
        <img src="/static/images/game/img_game_info01.jpg" alt="" />
    </div>

    <div class="bg02">
        <img src="/static/images/game/img_game_info02.jpg" alt="" />
    </div>

    <div>
        <img src="/static/images/game/img_game_info03.jpg" alt="" />
    </div>

    <div class="bg02">
        <img src="/static/images/game/img_game_info04.jpg" alt="" />
    </div>
</div>