{{#if (isEquals isMobile 1 )}}
    <div class="game_info_m">
        <ul class="game_feature">
            <li class="game_feature_list dark_blue_bg"><img src="/static/images/mobile/img_game_info_01_m.jpg" alt="" /></li>
            <li class="game_feature_list"><img src="/static/images/mobile/img_game_info_02_m.jpg" alt="" /></li>
            <li class="game_feature_list grey_bg"><img src="/static/images/mobile/img_game_info_03_m.jpg" alt="" /></li>
            <li class="game_feature_list"><img src="/static/images/mobile/img_game_info_04_m.jpg" alt="" /></li>
            <li class="game_feature_list grey_bg"><img src="/static/images/mobile/img_game_info_05_m.jpg" alt="" /></li>
        </ul>
    </div>
{{else}}
    <div class="game">
        <div class="bg01 banner_game_info center">
            <img src="/static/images/game/banner_game.jpg" alt="" />
        </div>

        <div>
            <img src="/static/images/game/img_game_info01.jpg" alt="다양한 게임 및 이벤트" />
        </div>

        <div class="bg02">
            <img src="/static/images/game/img_game_info02.jpg" alt="오래 플레이할 수록 더 많은 혜탹이 루비백 게이지 시스템" />
        </div>

        <div>
            <img src="/static/images/game/img_game_info03.jpg" alt="음성으로 채팅하는 즐거움!" />
        </div>

        <div class="bg02">
            <img src="/static/images/game/img_game_info04.jpg" alt="당신이 개설한 홈게임에 친구들을 초대할 수 있는 무료 홈게임 가능!" />
        </div>
    </div>
{{/if}}