<div class="game">
    <div class="center bg01">
        <img src="/static/images/game/banner_game.jpg" alt="" />
    </div>

    <div class="center">
        <img src="/static/images/game/img_game_info01.jpg" alt="" />
    </div>

    <div class="center bg02">
        <img src="/static/images/game/img_game_info02.jpg" alt="" />
    </div>

    <div class="center">
        <img src="/static/images/game/img_game_info03.jpg" alt="" />
    </div>

    <div class="center bg02">
        <img src="/static/images/game/img_game_info04.jpg" alt="" />
    </div>
</div>