<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="Referrer" content="origin" />
<link rel="canonical" href="http://http://topsstock.co.kr/" />
<link rel="shortcut icon" href="/static/images/favicon.png" />
<link rel='stylesheet' href='/static/stylesheets/styles.min.css?v={{version}}' media="screen,handheld" />
<title>{{title}}</title>
</head>
<body>
{{{body}}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/components/swiper/dist/js/swiper.js"></script>
<script type="text/javascript" src="/static/javascripts/vendor/jquery.tickerNews.min.js"></script>
<script type="text/javascript" src="/static/javascripts/index.js"></script>
</body>
</html>