{{#if (isEquals isMobile 1 )}}
    <div class="m_content m_partnership">
        <div clss="banner_partnership_m">
            <img src="/static/images/mobile/banner_partnership_m.jpg" alt="" class="banner_partner_img" />
        </div>

        <ul class="m_partnership_list">
            <li><img src="/static/images/mobile/img_partner_01.jpg" alt="" class="img_partnership" /></li>
            <li><img src="/static/images/mobile/img_partner_02.jpg" alt="" class="img_partnership" /></li>
            <li><img src="/static/images/mobile/img_partner_03.jpg" alt="" class="img_partnership" /></li>
        </ul>

        <div class="query_info">
            <a href="mailto:info@holdemclub.tv" class="btn-email-m">info@holdemclub.tv</a>로 바로 문의하세요! <br />
            친절히 모시겠습니다. 감사합니다.
        </div>
    </div>
{{else}}
    <div class="affiliate">
        <div class="banner">
            <img src="/static/images/banner_affiliate.jpg" alt="제휴문의" />
        </div>

        <ul class="affiliate_category clearfix">
            <li class="affiliate_list"><img src="/static/images/img_affiliate.jpg" alt="컨텐츠 제휴" /></li>
            <li class="affiliate_list"><img src="/static/images/img_ad_video.jpg" alt="영상 광고" /></li>
            <li class="affiliate_list"><img src="/static/images/img_image_banner.jpg" alt="사이트 배너" /></li>
        </ul>

        <div class="info">
            <a href="mailto:info@holdemclub.tv" class="mail">info@holdemclub.tv</a> 로 지금 바로 문의하세요!<br />
            친절히 모시겠습니다. 감사합니다.
        </div>
    </div>
{{/if}}