<h2 class="heading-s">이용약관</h2>
<div class="usage">
제1조 (목적)
이 약관은 인터투데이㈜(이하 "회사"라 합니다)가 이용 고객(이하 "회원"이라 합니다)에게 제공하는 홀덤클럽포커의 서비스 이용과 관련하여 회사와 회원 간의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.

제2조 (용어의 정의)
이 약관에서 사용하는 정의는 다음과 같습니다.
- “회사"라 함은 온라인을 통하여 서비스를 제공하는 사업자를 의미합니다.
- "회원"이라 함은 본 약관에 동의하고 서비스 이용 자격을 부여 받은 자를 의미합니다.
- "서비스"라 함은 회사가 회원에게 온라인으로 제공하는 게임 및 기타 회사가 제공하는 제반 서비스를 의미합니다.
- "계정(ID)"이라 함은 회원의 식별과 서비스 이용을 위하여 회원이 선정하고 회사가 부여하는 문자와 숫자의 조합을 의미합니다.
- "계정정보"라 함은 회원의 계정(ID), 비밀번호, 성명 등 회원이 회사에 제공한 일반 정보 및 서비스 이용 정보, 이용 요금 결제 상태 등 생성 정보를 통칭합니다.
- "비밀번호"라 함은 회원이 부여 받은 계정(ID)과 일치되는 회원임을 확인하고 회원의 정보 및 권익 보호를 위해 회원 자신이 선정하여 비밀로 관리하는 문자, 숫자 또는 기호의 조합을 의미합니다.
- "루비"라 함은 서비스를 이용 또는 구매하기 위해 사용되는 가상의 데이터로서 회원이 대금을 지급하고 구입하는 것을 말합니다.
- "사이버 포인트(칩)"라 함은 회원의 원활한 게임 이용을 위해 사용되는 가상의 데이터로서 회사가 임의로 책정하고 지급하는 일체의 재산적 가치가 없는 통상의 게임 머니를 말합니다.
이 약관에서 사용하는 용어의 정의는 제1항 각 호에서 정하는 것을 제외하고는 관계 법령 및 기타 일반적인 상관례에 의합니다.

제3조 (회사정보 등의 제공)
회사는 다음 각 호의 사항을 서비스 초기 화면이나 홀덤클럽티비 홈페이지(http://holdemclub.tv)에 게시하여 회원이 이를 쉽게 알 수 있도록 합니다. 다만, 개인정보 취급방침과 약관은 회원이 연결 화면을 통하여 볼 수 있도록 할 수 있습니다.
상호 및 대표자의 성명
영업소 소재지 주소(회원의 불만을 처리할 수 있는 곳의 주소를 포함한다) 및 전자우편주소
전화번호
사업자등록번호, 게임배급업 신고번호
개인정보 취급방침
서비스 이용 약관

제4조 (약관의 명시와 개정)
회사는 이 약관의 내용을 회원이 알 수 있도록 개별 서비스의 초기 화면 또는 홀덤클럽티비 홈페이지(http://holdemclub.tv)에 게시하거나 연결 화면을 제공하는 방법으로 회원에게 공지합니다.
회사는 회원이 회사와 이 약관의 내용에 관하여 질의 및 응답을 할 수 있도록 조치를 취합니다.
회사는 서비스를 이용하고자 하는 자(이하 "이용자"라 합니다)가 약관의 내용을 쉽게 알 수 있도록 작성하고 약관에 동의하기에 앞서 약관에 정해져 있는 내용 중 청약 철회, 과오납금의 환불, 해제/해지, 회사의 면책 사항 및 회원에 대한 피해 보상 등과 같은 중요한 내용을 회원이 쉽게 이해할 수 있도록 굵은 글씨 등으로 처리하거나 별도의 연결 화면 또는 팝업 화면 등을 제공하고 이용자의 동의를 얻도록 합니다.
회사는 ‘전자상거래 등에서의 소비자보호에 관한 법률’, ‘약관의 규제에 관한 법률’, ‘게임산업진흥에 관한 법률’, ‘정보통신망 이용촉진 및 정보보호 등에 관한 법률’, ‘콘텐츠산업진흥법’ 등 관련 법령에 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
회사가 약관을 개정할 경우에는 적용 일자 및 개정 내용, 개정 사유 등을 명시하여 그 적용 일자로부터 최소한 10일 이전(회원에게 불리하거나 중대한 사항의 변경은 30일 이전)부터 그 적용 일자 경과 후 상당한 기간이 경과할 때까지 홀덤클럽티비 홈페이지(http://holdemclub.tv) 초기 화면 또는 초기 화면과의 연결 화면이나 이메일을 통해 공지합니다.
회사가 약관을 개정할 경우에는 개정 약관 공지 후 개정 약관의 적용에 대한 회원의 동의 여부를 확인합니다. 단, 개정 약관 공지 시 회원이 동의 또는 거부의 의사표시를 하지 않으면 승낙한 것으로 간주하겠다는 내용도 함께 공지한 경우에는 회원이 약관 시행일까지 거부의사를 표시하지 않는다면 개정 약관에 동의한 것으로 간주할 수 있습니다.
회원이 개정 약관의 적용에 동의하지 않는 경우 회사 또는 회원은 서비스 이용계약을 해지할 수 있습니다.

제5조 (약관 외 준칙)
이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 ‘전자상거래 등에서의 소비자보호에 관한 법률’, ‘약관의 규제에 관한 법률’, ‘게임산업진흥에 관한 법률’, ‘정보통신망 이용촉진 및 정보보호 등에 관한 법률’, ‘콘텐츠산업진흥법’ 등 관련 법령에 따릅니다.

제6조 (운영정책)
약관을 적용하기 위하여 필요한 사항과 회원의 권익을 보호하고 서비스를 유지하기 위하여, 회사는 약관에서 구체적 범위를 정하여 위임한 사항을 서비스 운영정책(이하 '운영정책'이라 합니다) 으로 정할 수 있습니다.
회사는 운영정책의 내용을 회원이 알 수 있도록 게임 초기 화면이나 서비스 홈페이지에 게시하거나 연결 화면을 제공하는 방법으로 회원에게 공지하여야 합니다.
회원의 권리 또는 의무에 중대한 변경을 가져오거나 약관의 내용을 변경하는 것과 동일한 효력이 발생하는 운영정책 개정의 경우에는 제4조의 절차에 따릅니다. 단, 운영정책의 개정이 다음 각 호의 어느 하나에 해당하는 경우에는 제2항의 방법으로 사전에 공지합니다.
약관에서 구체적인 범위를 정하여 위임한 사항을 개정하는 경우
회원의 권리 및 의무와 관련 없는 사항을 개정하는 경우
운영정책의 내용이 약관에서 정한 내용과 근본적으로 다르지 않고 회원이 예측 가능한 범위 내에서 운영정책을 개정하는 경우

제7조 (이용 신청 및 방법)
회사가 제공하는 서비스를 이용하고자 하는 자는 약관의 내용에 대하여 동의를 하고, 홀덤클럽티비 홈페이지(http://holdemclub.tv)에서 제공하는 이용 신청서를 작성하는 방법으로 이용 신청을 하여야 합니다.
이용자는 이용 신청 시 회사에서 요구하는 제반 정보를 제공하여야 합니다.
회사는 회원에게 실명 확인 및 본인 인증을 요청할 수 있으며, 그 절차와 방식은 관련 법령에 따릅니다.
이용자는 제1항의 이용 신청 시 본인의 실명 및 실제 정보를 기재하여야 합니다. 실명 또는 식별정보를 허위로 기재하거나 타인의 명의를 도용한 경우 이 약관에 의한 회원의 권리를 주장할 수 없고, 회사는 환급 없이 이용 계약을 취소하거나 해지할 수 있습니다.
청소년(18세 미만의 자로서 ‘초 중등교육법’ 제2조의 규정에 의한 고등학교에 재학 중인 학생을 포함한다)이 이용 신청을 할 경우에는 법정대리인의 동의를 얻어야 하고, 구체적인 동의 절차는 ‘게임산업진흥에 관한 법률’ 및 시행령에 따라 회사가 제공하는 방법에 따르도록 합니다.

제8조 (이용 신청의 승낙과 제한)
회사는 회사가 이용자에게 요구하는 정보에 대해 이용자가 실명 및 실제 정보를 정확히 기재하여 이용 신청을 한 경우에 상당한 이유가 없는 한 이용 신청을 승낙합니다.
회사는 다음 각 호의 어느 하나에 해당하는 이용 신청에 대해서는 승낙을 하지 않을 수 있습니다.
- 제7조에 위반하여 이용 신청을 하는 경우
- 이용 요금을 납부하지 않거나 잘못 납부하여 확인할 수 없는 경우
- 만 18세 미만의 이용자가 이용 신청을 하는 경우
- 최근 3개월 내 이용 제한 기록이 있는 이용자가 이용 신청을 하는 경우
- 제3자의 신용카드, 유/무선 전화, 은행 계좌 등을 무단으로 이용 또는 도용하여 서비스 이용 요금을 결제하는 경우
- 대한민국 이외의 국가 중 회사에서 아직 서비스를 제공할 것으로 결정하지 않은 국가에서 서비스를 이용하는 경우로 회사가 해외 서비스 업체와 체결한 계약이나 특정 국가에서 접속하는 회원에 대한 서비스 제공과 관련하여 서비스의 제공을 제한할 필요가 있는 경우
- ‘게임산업진흥에 관한 법률’, ‘정보통신망 이용촉진 및 정보보호 등에 관한 법률’ 및 그 밖의 관계 법령에서 금지하는 위법행위를 할 목적으로 이용 신청을 하는 경우그 밖에 1호 내지 7호에 준하는 사유로서 승낙이 부적절하다고 판단되는 경우

회사는 다음 각 호의 어느 하나에 해당하는 경우에는 그 사유가 해소될 때까지 승낙을 유보할 수 있습니다.
- 회사의 설비에 여유가 없거나 기술적 장애가 있는 경우
- 서비스 상의 장애 또는 서비스 이용 요금 결제 수단의 장애가 발생한 경우
- 그 밖에 위 각 호에 준하는 사유로 이용 신청의 승낙이 곤란한 경우
회사는 본 조 제1항의 승낙을 함에 있어 관계 법령 및 회사의 정책에 따라 회원 별로 서비스의 이용 가능 범위, 시간, 횟수 등을 세분하여 이용에 차등을 두어 이를 승낙할 수 있습니다.



제9조 (회원 계정(ID) 및 비밀번호)
회사는 회원에 대하여 회원의 정보 보호, 서비스 이용 안내 등의 편의를 위해 회원이 선정한 일정한 문자, 숫자의 조합을 계정(ID)으로 부여합니다.
회사는 계정정보를 통하여 당해 회원의 서비스 이용 가능 여부 등의 제반 회원 관리 업무를 수행합니다.
회원은 자신의 계정정보를 선량한 관리자로서의 주의의무를 다하여 관리하여야 합니다. 회원이 본인의 계정정보를 소홀히 관리하거나 제3자에게 이용을 승낙함으로써 발생하는 손해에 대하여는 회원에게 책임이 있습니다.
비밀번호의 관리 책임은 회원에게 있으며, 회원이 원하는 경우에는 보안상의 이유 등으로 언제든지 변경이 가능합니다.
회원은 정기적으로 비밀번호를 변경하여야 합니다.
회원은 계정정보가 도용되거나 제3자가 이를 사용하고 있음을 인지한 경우 이를 즉시 회사에 통지하고 회사의 안내에 따라야 합니다. 회원이 이를 인지하고서도 통지하지 않거나, 통지한 경우에도 회사의 안내에 따르지 않아 발생한 불이익에 대해 회사는 책임지지 않습니다.

제10조 (회원 정보의 제공 및 변경)
회원은 이 약관에 의하여 회사에 정보를 제공하여야 하는 경우에는 진실된 정보를 제공하여야 하며, 허위정보 제공으로 인해 발생한 불이익에 대해서는 보호 받지 못합니다.
회원은 개인정보관리 화면을 통하여 언제든지 자신의 개인정보를 열람하고 수정할 수 있습니다. 다만, 서비스 관리를 위해 필요한 실명, 계정(ID) 등은 수정이 불가능합니다.
회원은 회원가입 신청 시 기재한 사항이 변경되었을 경우 온라인으로 수정을 하거나 기타 방법으로 회사에 대하여 그 변경 사항을 알려야 합니다.
제3항의 변경 사항을 회사에 알리지 않아 발생한 불이익에 대하여 회사는 책임을 지지 않습니다.

제11조 (개인정보의 보호 및 관리)
회사는 관계 법령이 정하는 바에 따라 계정정보를 포함한 회원의 개인정보를 보호하기 위해 노력합니다. 회원의 개인정보의 보호 및 사용에 대해서는 관계 법령 및 회사가 별도로 고지하는 개인정보 취급방침이 적용됩니다.
홈페이지에 단순히 링크된 제3자 제공의 서비스에 대하여는 회사의 개인정보 취급방침이 적용되지 않습니다.
회사는 회원의 귀책사유로 인하여 노출된 회원의 계정정보를 포함한 모든 정보에 대해서 일체의 책임을 지지 않습니다.

제12조 (회사의 의무)
회사는 법령과 이 약관이 정하는 권리의 행사와 의무의 이행을 신의에 좇아 성실하게 하여야 합니다.
회사는 회원이 안전하게 서비스를 이용할 수 있도록 개인정보(신용정보 포함) 보호를 위해 보안시스템을 갖추어야 하며 개인정보 취급방침을 공시하고 준수합니다. 회사는 이 약관 및 개인정보 취급방침에서 정한 경우를 제외하고는 회원의 개인정보가 제3자에게 공개 또는 제공되지 않도록 합니다.
회사는 계속적이고 안정적인 서비스의 제공을 위하여 서비스 개선을 하던 중 설비에 장애가 생기거나 데이터 등이 멸실된 때에는 천재지변, 비상사태, 해결이 곤란한 기술적 결함 등 부득이한 사유가 없는 한 지체 없이 이를 수리 또는 복구하도록 최선의 노력을 다합니다.

제13조 (회원의 의무)
회원은 다음 행위를 하여서는 안 됩니다.
- 신청 또는 변경 시 허위 내용의 기재
- 타인의 정보 도용
- 회사의 임직원, 운영자, 기타 관계자를 사칭하는 행위
- 회사가 게시한 정보의 변경
- 회사가 금지한 정보(컴퓨터 프로그램 등)의 송신 또는 게시
- 회사가 제공 또는 승인하지 아니한 컴퓨터 프로그램이나 기기 또는 장치를 제작, 배포, 이용, 광고하는 행위
- 회사와 기타 제3자의 저작권 등 지적재산권에 대한 침해
- 회사 및 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
- 외설 또는 폭력적인 말이나 글, 화상, 음향, 기타 공서양속에 반하는 정보를 공개 또는 게시하는 행위
- 게임 머니, 게임 데이터(계정, 루비, 칩 등)를 유상으로 처분(양도, 매매 등)하거나 권리의 객체로 하는 행위(담보제공, 대여 등)10호의 행위를 유도하거나 광고하는 행위
- 회사의 동의 없이 영리, 영업, 광고, 정치 활동 등을 목적으로 서비스를 사용하는 행위
- 회사로부터 특별한 권리를 받지 않고 회사의 클라이언트 프로그램을 변경하거나, 회사의 서버를 해킹하거나 웹사이트 또는 게시된 정보의 일부분 또는 전체를 임의로 변경하거나, 회사의 서비스를 비정상적인 방법으로 사용하는 행위
- 회사 프로그램 상의 버그를 악용하는 행위
- 기타 관련 법령에서 금지하거나 선량한 풍속, 기타 사회통념상 허용되지 않는 행위
회원은 이 약관의 규정, 이용 안내 및 서비스와 관련하여 공지한 주의 사항, 회사가 통지하는 사항 등을 확인하고 준수하여야 하며, 회사의 업무에 방해되는 행위를 하여서는 안 됩니다.
회사는 제1항, 제2항 및 다음 각 호의 어느 하나에 해당하는 행위의 구체적인 유형을 운영정책 이나 이용제한 규정에서 정할 수 있으며, 회원은 이를 준수할 의무가 있습니다.
- 회원의 계정(ID) 및 닉네임(Nickname)에 대한 제한
- 게임 플레이 방법에 대한 제한
- 기타 회원의 서비스 이용에 대한 본질적 권리를 침해하지 않는 범위 내에서 회사가 서비스 운영상 필요하다고 인정되는 사항

제14조 (서비스의 변경 및 내용 수정)
회원은 회사가 제공하는 서비스를 이 약관, 운영정책 및 회사가 설정한 게임 규칙에 따라 이용할 수 있습니다.
회사는 회사가 창조한 게임 내용의 제작, 변경, 유지, 보수에 관한 포괄적인 권한을 가지며, 게임성을 유지하기 위해 필요한 조치를 취합니다.
회사가 상당한 이유가 있는 경우에 운영상, 기술상의 필요에 따라 서비스 수정(패치)을 할 수 있으며, 서비스 수정(패치)을 하는 경우에는 변경 후 홈페이지 등을 통하여 공지합니다.

제15조 (서비스의 제공 및 중단 등)
서비스는 연중무휴, 1일 24시간 제공을 원칙으로 합니다.
제1항에도 불구하고, 다음 각 호의 어느 하나에 해당하는 경우에는 일정한 시간 동안 서비스가 제공되지 아니할 수 있으며, 해당 시간 동안 회사는 서비스를 제공할 의무가 없습니다.
- 컴퓨터 등 정보통신설비의 보수 점검, 교체, 정기 점검 또는 서비스의 수정을 위하여 필요한 경우
- 해킹 등의 전자적 침해 사고, 통신 사고, 회원들의 비정상적인 서비스 이용 행태, 미처 예상하지 못한 서비스의 불안정성에 대응하기 위하여 필요한 경우
- 관련 법령에서 특정 시간 또는 방법으로 서비스 제공을 금지하는 경우
- 천재지변, 국가비상사태, 정전, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 서비스 제공이 불가능할 경우
- 회사의 분할, 합병, 영업양도, 영업의 폐지, 당해 서비스의 수익 악화 등 회사의 경영상 중대한 필요에 의한 경우

회사는 제2항 제1호의 경우, 매주 또는 격주 단위로 일정 시간을 정하여 서비스를 중지할 수 있습니다. 이 경우 회사는 최소한 24시간 전에 그 사실을 게임 초기 화면이나 홀덤클럽티비 홈페이지(http://holdemclub.tv)에 고지합니다.
제2항 제2호의 경우, 회사는 사전고지 없이 서비스를 일시 중지할 수 있습니다. 회사는 이러한 경우 그 사실을 게임 초기 화면이나 홀덤클럽티비 홈페이지(http://holdemclub.tv)에 사후에 고지할 수 있습니다.
회사는 회사가 제공하는 무료 서비스 이용과 관련하여 이용자에게 발생한 어떠한 손해에 대해서도 책임을 지지 않습니다. 다만, 회사의 고의 또는 중대한 과실로 인하여 발생한 손해의 경우는 제외합니다.
회사는 회사가 제공하는 유료서비스의 중지/장애와 관련하여 다음 각 호에 따라 보상하며, 이용자는 회사에 대하여 별도의 손해배상을 청구할 수 없습니다.
- 회사의 귀책사유로 사전고지 없이 1일 4시간(누적시간) 이상 연속하여 서비스가 중지되거나 장애가 발생한 경우 정액제 서비스에 한하여 서비스 중지/장애 시간의 3배에 해당하는 이용 시간을 무료로 연장합니다.
- 회사가 서버점검 등의 사유로 서비스 중지/장애를 사전에 고지하였으나, 서비스 중지/장애시간이 10시간이 초과하는 경우에는 그 초과된 시간만큼 이용 시간을 무료로 연장합니다.
- 이용 시간 연장이 불가능한 유료서비스의 경우 회사는 회사의 선택으로 등가의 유료서비스, 루비 등으로 서비스의 중지/장애 내역을 보상합니다.

제2항 제3호 내지 제5호의 경우, 회사는 기술상, 운영상에 필요에 의해 서비스 전부를 중단할 수 있으며, 30일 전에 홈페이지에 이를 공지하고 서비스의 제공을 중단할 수 있습니다. 사전에 통지할 수 없는 부득이한 사정이 있는 경우는 사후에 통지를 할 수 있습니다.
회사가 제6항에 따라 서비스를 종료하는 경우 회원은 무료서비스 및 기간제 유료아이템에 대하여 손해배상을 청구할 수 없습니다.
회사는 서비스 이용을 신청한 회원에게 원활한 서비스 제공을 위하여 개별 게임 클라이언트, 보안프로그램, 결제 모듈 등 서비스 이용에 필요한 프로그램을 회원의 추가 동의 없이 설치하거나 변경(업데이트)할 수 있습니다. 단, 광고 프로그램 등 서비스 이용과 무관한 프로그램의 설치 시에는 반드시 회원에게 고지하고 동의를 받아 설치합니다.

제16조 (정보의 제공 및 광고의 게재)
회사는 다음의 사항을 게임 초기 화면이나 홀덤클럽티비 홈페이지(http://holdemclub.tv)에 회원이 알기 쉽게 표시합니다.
- 상호
- 게임물의 제명
- 이용등급
- 등급분류번호
- 제작연월일
- 게임물 제작업자 또는 배급업자의 신고번호 또는 등록번호
- 기타 회사가 필요하다고 인정하는 사항

회사는 서비스의 운영과 관련하여 서비스 화면, 홈페이지, 전자우편 등에 광고를 게재할 수 있습니다. 광고가 게재된 전자우편 등을 수신한 회원은 수신거절을 회사에게 할 수 있습니다.
회사가 제공하는 서비스는 배너와 링크 등 다양한 형태의 광고가 포함되어 있으며, 이는 제 3자가 제공하는 페이지와 연결될 수 있습니다.
전항에 따라 제3자가 제공하는 페이지로 연결될 경우 해당 페이지는 회사의 서비스 영역이 아니므로 회사가 신뢰성, 안정성 등을 보장하지 않으며 그로 인한 회원의 손해에 대하여도 회사는 책임을 지지 않습니다.

제17조 (정보의 수집 등)
회사는 서비스 내에서 회원 간에 이루어지는 모든 채팅 내용을 저장/보관할 수 있습니다. 회사는 회원 간의 분쟁 조정, 민원 처리 또는 게임 질서의 유지를 위하여 회사가 필요하다고 판단하는 경우에 한하여 본 정보를 열람하도록 할 것이며, 본 정보는 회사만이 보유하고 법령으로 권한을 부여 받지 아니한 제3자는 절대로 열람할 수 없습니다. 회사는 해당 정보를 열람하기 전에 채팅 정보의 열람이 필요한 사유 및 열람 범위를 개인에게 사전 고지하기로 합니다. 다만, 계정도용, 현금거래, 언어폭력, 게임 내 사기 등 기망행위, 버그악용, 기타 현행 법령 위반 행위 및 이 약관 제13조에서 정하는 중대한 약관 위반 행위의 조사, 처리, 확인 및 이의 구제와 관련하여 회원의 채팅 정보를 열람해야 할 필요가 있는 경우에는, 사후에 채팅 정보가 열람된 개인들에 대하여 열람한 사유와 열람한 정보 중 본인과 관련된 부분을 고지하기로 합니다.
회사는 서비스 운영 및 프로그램 안정화 등 서비스 품질 개선을 위하여 회원 PC 등 단말기 설정 및 사양 정보를 수집 & 활용할 수 있습니다.

제18조 (이용 상품)
회사는 회원이 별도의 비용 지급 없이 이용할 수 있는 서비스(이하 "무료서비스"라 합니다)와 회사가 미리 책정한 요금을 지불하고 이용하는 서비스(이하 "유료서비스"라 합니다)를 제공할 수 있으며, 회원은 서비스를 선택하여 이용할 수 있습니다.
서비스의 이용에 대한 대금지급방법은 회사가 제공하는 방법을 통하여 할 수 있습니다.
제1항의 유료서비스 이용과 관련하여, 회원이 선택한 유료서비스 이용신청 후, 다음 각 호에 해당하는 사항을 준수하여야 합니다.
- 유료서비스 이용을 신청한 회원은 서비스 이용요금을 성실히 납부하여야 합니다.
- 유료서비스 이용을 신청한 회원은 서비스 이용요금 신청에서 제공하는 방법으로 지급하여야 합니다. 단, 무통장입금의 방식으로 신청한 회원은 신청 완료 후 3일 이내에 해당 금액을 입금하여야 하며, 3일 이내에 입금하지 않을 시에는 그 신청을 철회한 것으로 봅니다.
회사는 미성년자인 회원이 결제가 필요한 유료서비스를 이용하고자 하는 경우 부모 등 법정 대리인의 동의를 얻어야 하고, 동의 없이 이루어진 유료서비스 이용은 법정대리인이 취소할 수 있다는 내용을 유료 서비스 이용을 위한 결제 전에 고지하도록 합니다.

제19조 (유료서비스 이용약관)
회사는 청약의 철회, 청약 철회 등의 효과와 루비의 충전 및 이용, 환불 등 유료서비스의 이용과 관련된 사항을 ‘유료서비스 약관’에서 정합니다.
회사는 ‘유료서비스 약관’의 내용을 회원이 쉽게 알 수 있도록 홈페이지 초기 화면에 게시하거나 연결 화면을 제공하는 방법으로 회원에게 공지합니다.

제20조 (사이버 포인트 (칩))
회사는 회원의 이용 실적에 따라 사이버 포인트를 제공할 수 있으며, 회사가 정한 유효기간 내에 사용되지 않은 사이버 포인트는 소멸될 수 있습니다.
사이버 포인트의 적립에 오류가 있을 경우 회원은 상당기간 내에 정정 신청을 할 수 있으며, 회사는 확인 절차를 거친 후 결과에 대하여 고지하고 필요한 경우 사이버 포인트에 정정 조치를 취할 수 있습니다.
회사는 경영상, 기술상 이유로 사전고지 후 사이버 포인트 서비스를 종료할 수 있으며, 회사는 사전고지를 최소한 1개월 전에 하여야 합니다. 이 경우 사전에 고지한 서비스 종료일까지 사용되지 않은 기 적립된 사이버 포인트는 소멸됩니다.

제21조 (저작권 등의 귀속)
서비스 내 회사가 제작한 콘텐츠에 대한 저작권 기타 지적재산권은 회사의 소유입니다.
회사는 서비스와 관련하여 회원에게 회사가 정한 이용 조건에 따라 게임이나 게임 아이템, 루비, 사이버 포인트 등을 이용할 수 있는 이용권만을 부여하며, 회원은 이를 유상양도, 판매, 담보제공 등의 처분 행위를 할 수 없습니다.
회원은 회사가 제공하는 서비스를 이용함으로써 얻은 정보 중 회사 또는 제공업체에 지적재산권이 귀속된 정보를 회사 또는 제공업체의 사전승낙 없이 복제, 전송, 출판, 배포, 방송 기타 방법에 의하여 영리 목적으로 이용하거나 제3자에게 이용하게 하여서는 안 됩니다.
회원은 서비스 내에서 보여지거나 서비스와 관련하여 회원 또는 다른 이용자가 게임 클라이언트 또는 서비스를 통해 업로드 또는 전송하는 대화 텍스트를 포함한 커뮤니케이션, 이미지, 사운드 및 모든 자료 및 정보(이하 "이용자 콘텐츠"라 합니다)에 대하여 회사가 다음과 같은 방법과 조건으로 이용하는 것을 허락합니다.
해당 이용자 콘텐츠를 이용, 편집 형식의 변경 및 기타 변형하는 것(공표, 복제, 공연, 전송, 배포, 방송, 2차적 저작물 작성 등 어떠한 형태로든 이용 가능하며, 이용기간과 지역에는 제한이 없음)
이용자 콘텐츠를 제작한 이용자의 사전 동의 없이 거래를 목적으로 이용자 콘텐츠를 판매, 대여, 양도 행위를 하지 않음
제3항은 회사가 서비스를 운영하는 동안 유효하며 회원탈퇴 후에도 지속적으로 적용됩니다.

제22조 (프로필 서비스)
회사는 서비스 이용 과정에서 자신을 설명하는 사진, 도화, 이미지를 등록하는 기능을 제공합니다.
회원이 등록한 사진, 도화, 이미지는 다른 이용자에게 공개됩니다.
이때 제3자에게 권리가 있는 사진, 도화, 이미지 등을 사용하고자 할 경우 아래 각 호의 내용에 따라 이용이 가능합니다.
- 저작권자(또는 대리인)에게 이용 허락을 받은 경우
- 저작권자(또는 대리인)이 사전에 설정한 이용 허락 기준에 따라 이용하는 경우
- 저작권법 등 법령의 내용에 의하여 이용이 가능한 경우
회사는 아래 각 호의 경우 회원이 등록한 사진, 도화, 이미지 등에 대해 노출 제한, 삭제 등의 조치를 취할 수 있습니다.
- 권리자로부터 저작권, 초상권 기타 권리 침해로 이의가 제기된 경우
- 음란한 내용, 타인에 대한 명예훼손, 모욕, 기타 부적절한 내용을 포함하고 있는 경우
- 본 약관에서 금지하고 있는 행위에 이용하기 위한 목적이 있는 경우
- 기타 법령에서 금지하고 있는 내용을 포함하고 있는 경우
제4항 2호 내지 4호의 내용에 해당할 경우, 회사는 본 약관 및 운영정책, 이용제한 규정에 의하여 별도의 조치를 취할 수 있습니다.

제23조 (회원의 해제 및 해지)
회원은 서비스 이용 계약을 해지(이하 '회원탈퇴'라 한다)할 수 있습니다. 회원이 회원탈퇴를 신청한 경우 회사는 회원 본인 여부를 확인할 수 있으며, 해당 회원이 본인으로 확인되는 경우에 회원의 신청에 따른 조치를 취합니다.
회원이 회원탈퇴를 원하는 경우에는 홀덤클럽티비 홈페이지(http://holdemclub.tv) 내 회원탈퇴 절차를 통하여 회원탈퇴를 할 수 있습니다.
회원이 회원탈퇴를 할 경우 관계법 및 개인정보 취급방침에 따라 회사가 회원의 정보를 보유하는 경우를 제외하고는 탈퇴 즉시 회원의 모든 데이터가 소멸됩니다.

제24조 (회사의 해제 및 해지)
회사는 회원이 이 약관에서 정한 회원의 의무를 위반한 경우에는 회원에 대한 사전 통보 후 계약을 해지할 수 있습니다. 다만, 회원이 현행법 위반 및 고의 또는 중대한 과실로 회사에 손해를 입힌 경우에는 사전통보 없이 이용 계약을 해지할 수 있습니다.
회사가 이용 계약을 해지하는 경우 회사는 회원에게 서면, 전자우편 또는 이에 준하는 방법으로 다음 각 호의 사항을 회원에게 통보합니다.
- 해지사유
- 해지일
제1항의 경우, 회원은 유료서비스의 사용 권한을 상실하고 이로 인한 환불 및 손해배상을 청구할 수 없습니다.
회사는 ‘정보통신망 이용촉진 및 정보보호 등에 관한 법률’ 및 동법 시행령에 따라 연속하여 1년 동안 홀덤클럽포커 서비스를 이용하지 않은 회원(이하 "휴면계정"이라 한다)의 개인정보를 보호하기 위해 계약을 해지하고 개인정보 파기 등 필요한 조치를 취할 수 있습니다. 이 경우, 조치일 30일 전까지 필요한 조치가 취해진다는 사실과 개인정보 보유 기간 만료일 및 개인정보의 항목을 회원에게 통지합니다.
위 제4항에도 불구하고 회사는 다른 법령에서 별도의 기간을 정하거나 회원의 요청에 따라 기간을 달리한 경우, 그 기간 동안 회원의 개인정보를 보관할 수 있습니다.

제25조 (회원에 대한 서비스 이용제한)
회사는 회원이 회원의 의무를 위반한 경우에 회원에게 다음 각 호의 구분에 따라 회원의 서비스 이용을 제한할 수 있습니다. 이용제한이 이루어지는 구체적인 회원의 의무 위반 사유는 제28조에 따라 개별 게임의 운영정책 및 이용제한 규정에서 정하기로 합니다.
- 계정 이용 제한: 일정 기간 회원 계정의 이용을 제한
- 회원 이용 제한: 일정 기간 회원의 서비스 이용을 제한
회사의 이용제한이 정당한 경우에 회사는 이용제한으로 인하여 회원이 입은 손해를 배상하지 않습니다.

제26조 (잠정 조치로서의 이용 제한)
회사는 다음 각 호에 해당하는 문제에 대한 조사가 완료될 때까지 계정을 정지할 수 있습니다.
- 계정이 해킹 또는 도용 당하였다는 정당한 신고가 접수된 경우
- 불법프로그램 사용자, 작업장 등 위법 행위자로 합리적으로 의심되는 경우
- 그 밖의 다른 사유로 계정의 잠정 조치가 필요한 경우

제1항의 경우 회사는 조사가 완료된 후 서비스 이용 제한 기간에 따라 "루비" 등으로 서비스의 정지 내역을 보상합니다. 다만, 제1항에 의한 위법 행위자로 판명된 경우에는 그러하지 아니합니다.

제27조 (이용제한의 사유와 절차)
회사는 위반행위의 내용, 정도, 횟수, 결과 등 제반 사정을 고려하여 이용 제한이 이루어지는 구체적인 사유 및 절차를 운영정책 및 이용제한 규정으로 정합니다.
회사가 제26조에서 정한 이용 제한을 하는 경우에는 회원에게 전자우편, 게임 초기 화면 또는 홈페이지에 게재하는 방법으로 다음 각 호의 사항을 회원에게 통보합니다.
- 이용 제한 사유
- 이용 제한 유형 및 기간
- 이용 제한에 대한 이의신청 방법

제28조 (이용제한에 대한 이의신청 절차)
회원이 회사의 이용 제한에 불복하고자 할 때에는 통보가 있을 날로부터 15일 이내에 회사의 이용제한에 불복하는 이유를 기재한 이의신청서를 서면, 전자우편 또는 이에 준하는 방법으로 회사에 제출하여야 합니다.
제1항의 이의신청서를 접수한 회사는 접수한 날로부터 15일 이내에 회원의 불복 이유에 대하여 전자우편 또는 이에 준하는 방법으로 답변하여야 합니다. 다만, 회사는 15일 이내에 답변이 곤란한 경우 회원에게 그 사유와 처리 일정을 통보합니다.
회사는 위 답변 내용에 따라 상응하는 조치를 취하여야 합니다.

제29조 (손해배상)
회사가 고의 또는 중과실로 회원에게 손해를 끼친 경우, 손해에 대하여 배상할 책임이 있습니다.
회원이 본 약관을 위반하여 회사에 손해를 끼친 경우, 회원은 회사에 대하여 손해를 배상할 책임이 있습니다.

제30조 (회사의 면책)
회사는 전시, 사변, 천재지변, 국가비상사태, 해결이 곤란한 기술적 결함 기타 불가항력적 사유로 서비스를 제공할 수 없는 경우에는 책임이 면제됩니다.
회사는 회원의 귀책사유로 인한 서비스의 중지, 이용 장애 및 계약 해지에 대하여 책임이 면제됩니다.
회원 또는 회사의 이용 계약 해지 등으로 인하여 회원과 회사의 서비스 이용 계약이 종료되는 경우, 관계법 및 개인정보 취급방침에 따라 회사가 회원정보를 보유하는 경우를 제외하고는 회사는 보다 나은 서비스 환경 등을 위하여 해지 즉시 회원의 계정정보 및 관련된 모든 데이터를 삭제할 수 있으며 회사는 이용 계약 종료 이후 회원의 계정정보 및 관련 데이터 삭제로 인한 책임을 부담하지 않습니다.
회사는 기간통신사업자가 전기통신서비스를 중지하거나 정상적으로 제공하지 아니하여 회원에게 손해가 발생한 경우에 대해서 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.
회사는 사전에 공지된 서비스용 설비의 보수, 교체, 정기 점검, 공사 등 부득이한 사유로 서비스가 중지되거나 장애가 발생한 경우에 대해서 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.
회사는 회원의 컴퓨터 환경으로 인하여 발생하는 제반 문제 또는 회사의 고의 또는 중대한 과실이 없는 네트워크 환경으로 인하여 발생하는 문제에 대해서 책임이 면제됩니다.
회사는 회원 또는 제3자가 서비스 내 또는 웹사이트 상에 게시 또는 전송한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 대해서는 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.
회사는 회원 상호간 또는 회원과 제3자간에 서비스를 매개로 발생한 분쟁에 대해 개입할 의무가 없으며 이로 인한 손해를 배상할 책임도 없습니다.
회사가 제공하는 서비스 중 무료서비스의 경우에는 회사의 고의 또는 중대한 과실이 없는 한 회사는 손해배상을 하지 않습니다.
회사는 회원이 서비스를 이용하며 기대하는 아이템 등의 결과를 얻지 못하거나 상실한 것에 대하여 책임을 지지 않으며, 서비스에 대한 취사선택 또는 이용으로 발생하는 손해 등에 대해서 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.
회사는 회원의 게임상 루비 손실에 대하여 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.
회사는 회원의 컴퓨터 오류에 의한 손해가 발생한 경우 또는 신상 정보 및 전자우편주소를 부정확하게 기재하거나 미 기재하여 손해가 발생한 경우에 대하여 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.
회사는 관련 법령, 정부 정책 등에 따라 서비스 또는 회원에 따라 서비스 이용 시간 등을 제한할 수 있으며, 이러한 제한 사항 및 제한에 따라 발생하는 서비스 이용 관련 제반 사항에 대해서는 책임이 면제됩니다.

제31조 (회원의 고충 처리 및 분쟁 해결)
회사는 회원의 편의를 고려하여 회원의 의견이나 불만을 제시하는 방법을 서비스 초기 화면이나 홀덤클럽티비 홈페이지(http://holdemclub.tv)에서 안내합니다. 회사는 이러한 회원의 의견이나 불만을 처리하기 위한 전담 조직을 운영합니다.
회사는 회원으로부터 제기되는 의견이나 불만이 정당하다고 객관적으로 인정될 경우에는 합리적인 기간 내에 이를 신속하게 처리합니다. 다만, 처리에 장기간이 소요되는 경우에는 회원에게 장기간이 소요되는 사유와 처리 일정을 게임 초기 화면이나 홀덤클럽티비 홈페이지(http://holdemclub.tv)에 공지하거나 전자우편, 전화 또는 서면, 전자메모 등으로 통보합니다.
회사와 회원 간에 분쟁이 발생하여 제3의 분쟁조정기관이 조정할 경우 회사는 이용 제한 등 회원에게 조치한 사항을 성실히 증명하고, 조정기관의 조정에 따를 수 있습니다.

제32조 (회원에 대한 통지)
회사가 회원에게 통지를 하는 경우 회원이 지정한 전자우편주소, 전자메모 등으로 할 수 있습니다.
회사는 회원 전체에게 통지를 하는 경우 7일 이상 회사의 홈페이지 초기 화면에 게시하거나 팝업화면 등을 제시함으로써 제1항의 통지에 갈음할 수 있습니다.

제33조 (재판권 및 준거법)
서비스의 이용과 관련하여 회사와 고객님 간에 분쟁이 발생하는 경우 양 당사자 간에 원만하게 합의하여 해결하는 것을 원칙으로 합니다.
만약 제1항의 분쟁이 원만히 해결되지 못하여 소송이 재기되는 경우, 민사소송법 등 관련 법령에 따른 관할 법원에 제소합니다.
회사와 회원 간 제기된 소송은 대한민국법을 준거법으로 합니다.
</div>