@import url(../components/bootstrap/dist/css/bootstrap.min.css);
.blind {
  display: none !important; }

.heading {
  color: #333;
  font-size: 30px;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px; }

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

[v-cloak] {
  display: none; }

legend, caption {
  display: none; }

.img_round {
  border-radius: 50%; }

.txt_input {
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 15px;
  color: #333;
  background: #fff;
  height: 50px; }

.white_bg {
  background: #fff; }

.grey_bg {
  background: #f3f3f3; }

hr {
  display: none; }

ol, ul {
  padding: 0; }

li {
  list-style: none; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

.center {
  text-align: center; }

.txt-blue {
  color: #0092ee; }

.txt-red {
  color: #d02b2b; }

html, body {
  overflow-x: hidden;
  font-family: Arial, "Nanum Gothic", sans-serif; }

.tp_center, .tp_hd .tp_hd_inner, .tp_nav .tp_navigation, .tp_ft .tp_ft_inner, .tp_ft_nav_wrp .tp_ft_nav_inner, .tp_landing {
  width: 1080px;
  margin: 0 auto; }

.tp_hd {
  border-top: 5px solid #d33a3a;
  border-bottom: 1px solid #e0e0e0; }
  .tp_hd .tp_hd_inner {
    height: 91px;
    position: relative; }
  .tp_hd .tp_lg {
    text-align: center;
    position: relative;
    top: 28px; }
  .tp_hd .tp_tel {
    position: absolute;
    top: 40px;
    left: 10px; }

.tp_nav {
  height: 60px;
  border-bottom: 1px solid #e0e0e0; }
  .tp_nav .nav_li {
    float: left;
    padding-left: 42px;
    padding-right: 42px;
    background: url("/static/images/main/bl_nav_split.gif") right center no-repeat; }
  .tp_nav .nav_li:last-child {
    background: none;
    padding-right: 0; }
  .tp_nav .nav_link {
    color: #333333;
    font-size: 20px;
    display: inline-block;
    line-height: 60px;
    height: 60px; }
  .tp_nav .nav_link:hover {
    color: #d33a3a; }
  .tp_nav .active {
    color: #d33a3a; }

.tp_ft {
  border-top: 1px solid #d7d7d6; }
  .tp_ft .lg_ft {
    display: inline-block;
    position: absolute;
    top: 32px;
    left: 0; }
  .tp_ft .tp_ft_inner {
    position: relative;
    padding-left: 210px;
    padding-top: 30px;
    padding-bottom: 50px; }
  .tp_ft .addr {
    font-size: 13px;
    color: #666;
    line-height: 20px; }
  .tp_ft .addr_contact {
    padding-top: 20px; }
  .tp_ft .split {
    color: #dcdcdc;
    font-size: 12px;
    padding: 0 5px; }
  .tp_ft .txt-addr-2 {
    font-size: 24px; }

.tp_ft_nav_wrp {
  border-top: 1px solid #d7d7d6;
  height: 50px; }
  .tp_ft_nav_wrp .tp_ft_nav_inner {
    text-align: center; }
  .tp_ft_nav_wrp .ft_nav_li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    background: url("/static/images/main/bl_split_ft.gif") right center no-repeat; }
  .tp_ft_nav_wrp .ft_nav_li:last-child {
    background: none;
    padding-right: 0; }
  .tp_ft_nav_wrp .ft_nav_link {
    display: inline-block;
    color: #666;
    font-size: 15px; }
  .tp_ft_nav_wrp .ft_nav_link:hover {
    color: #d33a3a; }
  .tp_ft_nav_wrp .tp_ft_nav {
    margin-top: 14px;
    margin-left: 160px; }

.tp_body {
  background: #f7f7f7; }

.tp_landing {
  padding: 20px 0 80px 0; }
  .tp_landing .tp_expert_stock {
    float: left;
    width: 257px;
    margin-right: 15px; }
  .tp_landing .profile_list {
    margin-top: 15px;
    margin-bottom: 15px; }
  .tp_landing .p_list {
    float: left;
    width: 350px;
    margin-right: 15px; }
  .tp_landing .p_list:last-child {
    margin-right: 0; }
  .tp_landing .tp_benefit {
    float: left; }
  .tp_landing .tp_current_benefit {
    float: left;
    width: 350px;
    height: 355px;
    background: #fff;
    margin-left: 15px;
    border: 1px solid #dfdfdf;
    padding: 20px; }
  .tp_landing .bf_list_wrp {
    margin-top: 30px; }
  .tp_landing .bf_list {
    position: relative;
    margin-bottom: 20px;
    font-size: 17px; }
    .tp_landing .bf_list .target {
      color: #000; }
    .tp_landing .bf_list .num {
      color: #999;
      margin-left: 10px; }
    .tp_landing .bf_list .percentage {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 19px;
      color: #d02b2b;
      padding-left: 20px;
      background: url("/static/images/main/bl_up_progress.gif") 0 center no-repeat; }
  .tp_landing .bf_list:last-child {
    margin-bottom: 0; }
  .tp_landing .btn-more-benefit {
    display: inline-block;
    margin-left: 65px;
    margin-top: 10px; }
  .tp_landing .free_experience {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 240px;
    position: relative;
    background: url("/static/images/main/bg_customer_approach.jpg") no-repeat; }
    .tp_landing .free_experience .desc {
      font-size: 13px;
      color: #999; }
  .tp_landing .btn-free-exp {
    position: absolute;
    right: 1px;
    top: 1px; }
  .tp_landing .tp_form_free {
    position: absolute;
    top: 110px;
    right: 130px;
    width: 480px;
    height: 130px;
    padding-top: 20px; }
  .tp_landing .input_customer_name {
    width: 166px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    border: 1px solid #333; }
  .tp_landing .mid-tel, .tp_landing .end-tel {
    width: 45px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    border: 1px solid #333; }
  .tp_landing .info {
    margin-top: 15px; }
  .tp_landing .btn-view-agreement {
    color: #333; }
  .tp_landing .btn-view-agreement:hover {
    color: #d02b2b; }
  .tp_landing .vip_count {
    height: 70px;
    border: 1px solid #e1e1e1;
    background: #fff;
    overflow: hidden; }
  .tp_landing .tp_vip_count {
    position: relative;
    width: 365px;
    height: 70px;
    overflow: hidden;
    background: url("/static/images/main/bg_vip_count.jpg") no-repeat; }
  .tp_landing .person_count {
    color: #fef394;
    font-size: 30px; }
  .tp_landing .unit {
    color: #fff;
    font-size: 15px; }
  .tp_landing .vip_info_pos {
    position: absolute;
    right: 30px;
    top: 15px; }
  .tp_landing .stock_info {
    line-height: 90px; }
  .tp_landing .kospi, .tp_landing .cosdaq, .tp_landing .exchange {
    width: 350px;
    height: 95px;
    border: 1px solid #e1e1e1;
    padding: 0 20px;
    margin-right: 15px;
    float: left;
    background: #fff;
    text-align: center; }
    .tp_landing .kospi .name, .tp_landing .cosdaq .name, .tp_landing .exchange .name {
      color: #333;
      font-size: 16px;
      margin-right: 15px; }
    .tp_landing .kospi .num, .tp_landing .cosdaq .num, .tp_landing .exchange .num {
      color: #333;
      font-size: 28px; }
    .tp_landing .kospi .percentage, .tp_landing .cosdaq .percentage, .tp_landing .exchange .percentage {
      font-size: 28px;
      padding-left: 24px;
      margin-left: 15px;
      overflow: hidden; }
    .tp_landing .kospi .bg_up_info, .tp_landing .cosdaq .bg_up_info, .tp_landing .exchange .bg_up_info {
      background: url("/static/images/main/bl_up_info.gif") 0 center no-repeat; }
    .tp_landing .kospi .bg_down_info, .tp_landing .cosdaq .bg_down_info, .tp_landing .exchange .bg_down_info {
      background: url("/static/images/main/bl_down_info.gif") 0 center no-repeat; }
  .tp_landing .exchange {
    margin-right: 0; }

.tp_service {
  position: relative;
  padding-bottom: 105px; }

.tp_banner_info {
  height: 130px;
  background: url("/static/images/service/bg_info_service.jpg") center 0 no-repeat; }

.tp_content_img {
  position: relative;
  margin-top: 30px;
  height: 998px;
  background: url("/static/images/service/img_info_service.jpg") center 0 no-repeat; }

.tp_wing_right {
  position: absolute;
  right: -20px;
  top: 160px;
  width: 180px;
  height: 365px;
  background: url("/static/images/service/img_wing_service.jpg") no-repeat; }

.tp_vip {
  position: relative;
  padding-bottom: 105px; }

.bg_ban_vip {
  height: 130px;
  background: url("/static/images/vip/bg_info_vip.jpg") center 0 no-repeat; }

.img_info_vip {
  height: 637px;
  margin-top: 30px;
  background: url("/static/images/vip/img_info_vip.jpg") center 0 no-repeat; }

/*# sourceMappingURL=styles.css.map */
