.blind {
  display: none !important;
}

.heading{
  color: #333;
  font-size: 30px;
  pading: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.img_logo{
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  border: 1px solid #686868;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

[v-cloak] {
  display: none;
}

legend, caption{
  display: none;
}

.img_round{
  border-radius: 50%;
}

.txt_input{
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 15px;
  color :#333;
  background: #fff;
  height: 50px;
}

.white_bg{
  background: #fff;
}

.grey_bg{
  background: #f3f3f3;
}

.dark_blue_bg{
  background: #090909;
}

.ico_poker,.ico_crew,
.ico_community,
.ico_partnership{
  position: relative;
  top: 3px;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.ico_poker{
  background: url('/static/images/mobile/ico_poker.gif') no-repeat;
}

.ico_crew{
  background: url('/static/images/mobile/ico_crew.gif') no-repeat;
}

.ico_community{
  background: url('/static/images/mobile/ico_community.gif') no-repeat;
}

.ico_partnership{
  background: url('/static/images/mobile/ico_partnership.gif') no-repeat;
}

.btn-red,
.btn-red:active{
  background: #b31515;
  color: #fff;
  text-decoration: none;
}
.btn-red:hover,
.btn-red:focus{
  background: #df5050;
  color: #fff;
  text-decoration: none;
}

.swiper-pagination-bullet{
  background: #fff !important;
}

.swiper-pagination-bullet-active{
  background: #b31515 !important;
}

.width100p{
  width: 100%;
}

.btnArea{
  width: 100%;
}
