.blind {
  display: none !important;
}

.heading{
  color: #333;
  font-size: 30px;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

[v-cloak] {
  display: none;
}

legend, caption{
  display: none;
}

.img_round{
  border-radius: 50%;
}

.txt_input{
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 15px;
  color :#333;
  background: #fff;
  height: 50px;
}

.white_bg{
  background: #fff;
}

.grey_bg{
  background: #f3f3f3;
}

hr{
  display: none;
}

ol,ul{
  padding: 0;
}

li{
  list-style: none;
}

a:hover{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

.center{
  text-align: center;
}

.txt-blue{
  color: #0092ee;
}

.txt-red{
  color: #d02b2b;
}

.bold{
  font-weight: bold;
}

.brd-white{
  border: 1px solid #fff;
}
