@charset "UTF-8";

.m_content{

}

// 제휴 문의
.m_partnership{

  .banner_partner_img{
    width: 100%;
    min-width: 300px;
    max-width: 640px;
  }

  .banner_partnership_m{
    text-align: center;
  }


  .m_partnership_list{
    padding: 20px 10px;
    li{
      margin-bottom: 10px;
      text-align: center;
    }
  }

  .img_partnership{
    width: 100%;
    min-width: 300px;
    max-width: 640px;
  }

  .query_info{
    font-size: 15px;
    color: #6f6f6f;
    text-align: center;
    padding-bottom: 30px;
  }

  .btn-email-m{
    color: #b31515;
    text-decoration: underline;
  }

}

.m_crew{
  .ban_m{
    text-align: center;
  }
  .img_banner_crew_m{
    width: 100%;
    min-width: 300px;
    max-width: 640px;
  }

  .crew_m_list{
    padding: 10px;
    li{
      text-align: center;
      position: relative;
      padding: 50px 0 80px 0;
    }
    .crew_info_m{
      width: 100%;
      min-width: 200px;
      max-width: 620px;
    }
  }

  .img_broadcast{
    width: 100%;
    min-width: 200px;
    max-width: 280px;
  }

  .btn_broadcast{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}


// 게임 소개
.game_info_m{
  .game_feature_list{
    text-align: center;
    padding-top: 50px;
  }
  img{
    width: 100%;
    max-width: 300px;
  }
}

.community_m{
  .banner_community_m{
    text-align: center;
  }
  .ban_community{
    width: 100%;
    min-width: 300px;
    max-width: 640px;
  }

  .community_list_m{
    padding: 10px;
    li{
      margin-bottom: 10px;
    }
    a{
      display: block;
      text-align: center;
    }
    img{
      width: 100%;
      min-width: 300px;
      max-width: 640px;
    }
  }
}

// 비디오 리스트 페이지
.video_list_body{
  padding: 10px;

  .video_thumnail_m{
    width: 150px;
    height: 85px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none ;

  }

  .video_link_m:active,
  .video_link_m:hover,
  .video_link_m:visited{
    text-decoration: none;
  }


  .video_link_m{
    display: block;
    position: relative;
    padding-left: 160px;
    height: 85px;

    .title{
      display: block;
      font-size: 16px;
      margin-bottom: 5px;
    }

    .date,
    .hits{
      font-size: 13px;
      display: block;
    }

  }

  .list_wrap{
    margin-bottom: 10px;
  }


  .channel_title{
    position: relative;
    top: 5px;
    left: 5px;
    font-size: 18px;
  }

  .channel_head_m{
    margin: 15px 0 20px 0;
  }

}

.index_top_nav{
  width: 100%;
  height: 40px;
  overflow: hidden;

  li{
    float: left;
    width: 25%;
    background: #404040;
  }

  a{
    height: 40px;
    display: block;
    font-size: 16px;
    color :#fff;
    border-right: 1px solid #5c5c5c;
    text-align: center;
    line-height: 40px;
  }

  a:hover{
    text-decoration: none;
  }

  li:last-child{
    a{
      border-right: none;
    }
  }

  .ico{
    display: none;
  }

}

.representative_channel_m{

  h2{
    font-size: 22px;
    color :#333;
    padding: 20px 20px 0 20px;
    font-weight: bold;
  }

  ul{
    display: block;
    padding: 20px;
  }

  li{
    width: 50%;
    float: left;
    margin-bottom: 20px;
  }

  a{
    display: block;
    text-align: center;
  }

  img{
    width: 140px;
    height: 175px;
  }
}

.recent_update_m{
  border-top: 1px solid #d9d9d9;

  h2{
    font-size: 22px;
    color :#333;
    padding: 20px;
    font-weight: bold;
  }


  ul{
    width: 100%;
  }

  li{
    padding: 10px;
  }

  a{
    display: block;
    text-align: center;
  }

  img{
    width: 100%;
    max-width: 540px;
  }

  .title{
    font-size: 18px;
    text-align: left;
    padding: 10px 10px 5px 10px;
    max-width: 540px;
    display: block;
    margin:0 auto;
  }


  .info{
    padding: 0 10px 5px 10px;
    max-width: 540px;
    display: block;
    margin:0 auto;
  }
}

.top5px{
  margin-top: -4px;
}


