@charset "UTF-8";

html, body{
  overflow-x:hidden;
}


// top part
#top{
  background: #ebebeb;
  .inner_top{
    margin: 0 auto;
    position: relative;
    width: $whole-width;
    height: 35px;
  }
  a.btn_login, a.btn_signup{
    color: #333;
    font-size: 13px;
    position: absolute;
    top: 10px;
  }
  a.btn_login {
    right: 90px;
    font-family: $font-sansCJK;
  }
  a.btn_signup{
    right: 10px;
    font-family: $font-sansCJK;
  }
  span.split{
    font-size: 11px;
    color: #afafaf;
    position: absolute;
    top: 10px;
    right: 70px;
  }
}

.local_nav{
  float: right;

  .local_nav_list{
    float: left;
    list-style: none;
    margin-right: 10px;
    position: relative;
    top: 9px;
  }

  .nickname,
  .btn_mypage,
  .btn_logout{
    font-family: $font-sansCJK;
    color: #333 !important;
    font-size: 13px;
  }
}

#header{
  background: #2b2b2b;
  .inner_header{
    margin: 0 auto;
    width: $whole-width;
    height: 95px;
  }
  .logo{
    margin: 0;
    padding: 0;
    width: 168px;
    float: left;
    margin-top: 18px;
  }
}

#nav_top {
  float: right;
  li.nav_list{
    float: left;
    list-style: none;
    border-left: 1px solid #171717;
  }
  li.nav_list:last-child{
    border-right: 1px solid #171717;
  }
  a.link_nav{
    width: 150px;
    height: 95px;
    display: block;
    font-size: 18px;
    color: #6f6f6f;
    font-family: $font-sansCJK;
    line-height: 95px;
    text-align: center;
    text-decoration: none;
  }

  a.active{
    background: url('/static/images/bg_top_nav.gif') repeat-x;
    color: #fff;
  }
}

#footer{
  background: #f7f7f7;
  border-top: 1px solid #e6e6e6;
  .inner_footer{
    margin:0 auto;
    width: $whole-width;
    height: 160px;
    position: relative;
  }

  .logo{
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 55px;
  }

  .info{
    float: left;
    margin-left: 60px;
    margin-top: 25px;
  }

  .sns{
    float: right;
    margin-top: 57px;
  }

  address{
    margin-top: 17px;
    font-size: 14px;
    font-family: $font-sansCJK;
    line-height: 14px;
    color: #888;
  }
  .info_email{
    color: #888;
  }

}

.nav_ft{
  margin: 0;
  padding: 0;
  .ft_list{
    float: left;
    list-style: none;
  }
  .link_ft{
    font-size: 15px;
    color :#707070;
    font-family: $font-sansCJK;
  }
  .split{
    list-style: none;
    font-size: 13px;
    color :#aeaeae;
    padding:0 17px;
    float: left;
    line-height: 21px;
  }
}

#spot{
  margin: 10px auto 20px auto;
  width: $whole-width;
  padding: 0;
}


#content{}
.inner_content{
  position: relative;
  margin:0 auto;
  width: $whole-width;
}


.sidebar-fixed{
  float: left;
  width: 210px;

  ul,ol{
    padding: 0;
  }

  li.nav_list{
    list-style: none;
    margin-bottom: 8px;

    width: 210px;
    @extend .ellipsis;


  }
}

.main_area{
  float: left;
  width: 850px;
  margin-left: 20px;
}

//////////////////////////////////////////
//// lagacy
//.sidebar-fixed{
//  background: #fff;
//  @media screen and (min-width: $width-size01) {
//    width: 230px;
//    height: 100%;
//  }
//
//  @media screen and (max-width: $width-size01) {
//    width: 0;
//    height: 0;
//    display: none;
//  }
//
//  //border: 1px solid #f00;
//  position: absolute;
//  top: 0;
//  left: 0;
//
//  .title{
//    font-size: 20px;
//    border-bottom: 1px solid #eee;
//    padding-bottom: 10px;
//  }
//
//  .inner-sidebar{
//    padding: 10px;
//  }
//
//  li.nav_list{
//    list-style: none;
//    margin-bottom: 8px;
//    // border: 1px solid #f00;
//    width: 210px;
//    @extend .ellipsis;
//    a.linkNav{
//      color : $main-font-color;
//      font-size: 14px;
//    }
//    a.linkNav:hover{
//      color: $main-color;
//    }
//  }
//}


//.recomList,
//.channelList{
//  padding-left: 0;
//}
//
//
//.content_area{
//  // border: 1px solid #f00;
//  @media screen and (min-width: $width-size01) {
//    padding-left: 230px;
//  }
//
//  @media screen and (max-width: $width-size01) {
//    padding-left: 0;
//  }
//}


//.content_wrapper{
//  position: relative;
//  background :#eee;
//  padding: 10px;
//}

//.inner_content{
//  max-width: $content-max-width;
//  margin: 0 auto;
//  background :#fff;
//  padding: 10px;
//}



//.header{
//  border-bottom: 1px solid #eee;
//  position: relative;
//  .btnLeftMenu{
//    color : #b7b7b7;
//    font-size: 20px;
//  }
//
//  .btnLeftMenu:hover{
//    color: $main-color;
//  }
//
//  .text-red{
//    color: $main-color;
//  }
//  .text-black {
//    color: $main-font-color;
//  }
//}

.logo_area{
  font-size: 26px;
  position: relative;
  top: -6px;
  left: 25px;
  display: inline-block;

  .logo:hover{
    text-decoration: none;
  }

  .img_logo{
    position: relative;
    top: -3px;
    left: 7px;
  }
}

.btn_login{
  position: absolute;
  right: 20px;
  top: 16px;
}






.video_list{
  padding: 0;
  li{
    list-style: none;
    margin-bottom: 20px;
  }
}

.btn-signup{
  position: absolute;
  right: 90px;
  top: 15px;
}


// video view
.ad_video{
  position: relative;
  top: 0;
  left: 0;

  .vjs-progress-control {
    visibility: hidden !important;
    display: none !important;
  }

  .vjs-play-control {
    visibility: hidden !important;
    display: none !important;
  }

  .btn_ad_skip_a{
    position: absolute;
    bottom: 52px;
    right: 0;
    display: inline-block;
    border: 1px solid #fff;
    font-size: 20px;
    color: #fff;
    padding: 10px;
  }

  .btn_ad_skip_a:hover{
    color: #fff;
    text-decoration: none;
  }

  .btn_timer_on_the_screen {
    position: absolute;
    bottom: 51px;
    right: 0;
    display: inline-block;
    border: 1px solid #fff;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    height: 50px;
    cursor: default;
  }

  .btn_timer_on_the_screen:hover {
    color: #fff;
    text-decoration: none;
  }

  .timer_first_ad{
    color: yellow;
    font-size: 22px;
  }
}


.ban_in_video {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 9999;

  .ban_inner {
    position: relative;
    min-width: 500px;
    max-width: 900px;
    height: 80px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .btn_ban_in_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    background: url('http://static.holdemclub.tv/assets/images/v1/ad/btn_ad_close.png') no-repeat center 0;
  }
}

.video_view{
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}


.sub_list{
  display: none;
}

//.btn-private{
//  position: absolute;
//  right: 100px;
//  top: 15px;
//}