@charset "UTF-8";

html, body{
  overflow-x:hidden;
}


// top part
#top{
  background: #ebebeb;
  .inner_top{
    margin: 0 auto;
    position: relative;
    width: $whole-width;
    height: 35px;
  }
  a.btn_login, a.btn_signup{
    color: #333;
    font-size: 13px;
    position: absolute;
    top: 10px;
  }
  a.btn_login {
    right: 90px;
    font-family: $font-common;
  }
  a.btn_signup{
    right: 10px;
    font-family: $font-common;
  }
  span.split{
    font-size: 11px;
    color: #afafaf;
    position: absolute;
    top: 10px;
    right: 70px;
  }
}

.local_nav{
  float: right;

  .local_nav_list{
    float: left;
    list-style: none;
    margin-right: 10px;
    position: relative;
    top: 9px;
  }

  .split{
    list-style: none;
    font-size: 11px;
    float: left;
    padding: 0 10px 0 0;
    position: relative;
    top: 11px;
    color: #afafaf;
  }


  .nickname,
  .btn_mypage,
  .btn_logout{
    font-family: $font-common;
    color: #333 !important;
    font-size: 13px;
  }
}

#header{
  background: #2b2b2b;
  .inner_header{
    margin: 0 auto;
    width: $whole-width;
    height: 67px;
  }
  .logo{
    margin: 0;
    padding: 0;
    width: 168px;
    float: left;
    margin-top: 7px;
  }
}

#nav_top {
  float: right;
  li.nav_list{
    position: relative;
    float: left;
    list-style: none;
    border-left: 1px solid #171717;
  }

  li.nav_list:last-child{
    border-right: 1px solid #171717;
  }
  a.link_nav{
    width: 150px;
    height: 67px;
    display: block;
    font-size: 18px;
    color: #6f6f6f;
    font-family: $font-common;
    line-height: 67px;
    text-align: center;
    text-decoration: none;
  }

  a.link_nav:hover{
    color: #fff;
  }

  a.active{
    background: url('/static/images/bg_top_nav.gif') repeat-x;
    color: #fff;
  }
}

#footer{
  margin-top: 30px;
  background: #f7f7f7;
  border-top: 1px solid #e6e6e6;
  .inner_footer{
    margin:0 auto;
    width: $whole-width;
    height: 160px;
    position: relative;
  }

  .logo{
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 55px;
  }

  .info{
    float: left;
    margin-left: 60px;
    margin-top: 25px;
  }

  .sns{
    float: right;
    margin-top: 57px;
  }

  address{
    margin-top: 17px;
    font-size: 14px;
    font-family: $font-common;
    line-height: 14px;
    color: #888;
  }
  .info_email{
    color: #888;
  }

}

.nav_ft{
  margin: 0;
  padding: 0;
  .ft_list{
    float: left;
    list-style: none;
  }
  .link_ft{
    font-size: 15px;
    color :#707070;
    font-family: $font-common;
  }
  .split{
    list-style: none;
    font-size: 13px;
    color :#aeaeae;
    padding:0 17px;
    float: left;
    line-height: 21px;
  }
}

#spot{
  margin: 10px auto 20px auto;
  width: $whole-width;
  padding: 0;
}


#content{}
.inner_content{
  position: relative;
  margin:0 auto;
  width: $whole-width;
}


.sidebar-fixed{
  float: left;
  width: 215px;

  ul,ol{
    padding: 0;
  }

  li.nav_list{
    position: relative;
    list-style: none;
    border-bottom: 1px solid #000;
  }

  li.nav_list:hover{
    .sub_nav{
      display: block;
    }
  }

  li.nav_list:last-child{
    border-bottom: none;
  }
}

.main_area{
  float: left;
  width: 840px;
  margin-left: 25px;
}

.sig_broadcast{
  margin-top: 20px;
}

.inner-sidebar{
  .title{
    width: 215px;
    height: 71px;
    background: url('/static/images/bg_channel.jpg') no-repeat 0 0;
    text-align: center;
    font-size: 22px;
    color: #ffe1e1;
    font-family: $font-common;
    line-height: 71px;
    margin: 20px 0 0 0;
  }

  .linkNav{
    display: block;
    height: 44px;
    color: #999;
    font-size: 14px;
    font-family: $font-common;
    @extend .ellipsis;
    padding: 0 10px;
    line-height: 44px;
    text-decoration: none;
  }

  .linkNav:hover{
    color: #fff;
    font-weight: bold;
  }

}

.recomList,.channelList{
  background: #2b2b2b;
}


// 비디오 썸네일 리스트 유형
.recent_update{
  padding: 0 0 15px 0;

  .update_list{
    list-style: none;
    float: left;
    margin-right: 21px;
  }

  .update_list:last-child{
    margin-right: 0;
  }

  .update_link{
    font-family: $font-common;
    @extend .ellipsis;
    display: block;
    text-decoration: none;
  }
  .title{
    margin: 10px 0;
    font-family: $font-common;
    display: block;
    font-size: 15px;
    color: #333;
    width: 194px;
    @extend .ellipsis;
  }
  .title:hover{
    text-decoration: underline;
  }

  .hits,.date{
    font-family: $font-common;
    color: #999;
    font-size: 13px;
  }
  .split{
    color: #999;
    font-size: 13px;
  }
  .img_thumbnail{
    border: 1px solid #151515;
  }
}


.btm-brd{
  border-bottom: 1px solid #e5e5e5;
}

.spacer{
  height: 100px;
}

.channel_type{
  padding: 0 0 30px 0;
  .channel_list{
    list-style: none;
    float: left;
    margin-right: 21px;
  }
  .channel_list:last-child{
    margin-right: 0;
  }
  .channel_link{
    display: inline-block;
  }

}


.sub_nav{
  position: absolute;
  top: 0;
  left: 214px;
  z-index: 999999;
  display: none;
  .inner_sub{
    width: 830px;
    //max-width: 830px;
    //min-width: 400px;
    padding: 15px 30px;
    display: inline-block;
    background: #2b2b2b;
    border: 3px solid #940101;
  }
  .channel_info{
    margin: 0 0 20px 0;
    border-bottom: 1px solid #444;
    color: #f5f4f4;
    font-family: $font-common;
    font-size: 18px;
    padding-bottom: 8px;
  }
  .img_logo{
    border: none;
  }
}

.sub_list_nav{
  .sub_list{
    list-style: none;
    float: left;
    margin-right: 7px;
    margin-bottom: 10px;
  }

  .sub_list:last-child{
    margin-right: 0;
  }

  .sub_link{
    width: 145px;
    text-decoration: none;
  }

  .tit{
    font-size: 13px;
    color: #999;
    font-family: $font-common;
    margin-top: 7px;
    display: block;
    width: 145px;
    @extend .ellipsis;
  }

  .tit:hover{
    text-decoration: underline;
  }

  .img_thumbnail{
    width: 145px;
    height: 181px;
  }

  .img_thumbnail:hover{
    border: 2px solid #940101;
  }
}


#list-video{

}

.video_link{
  width: 194px;
  .title{
    margin: 15px 0;
    font-size: 15px;
    color :#333;
    font-family: $font-common;
    width: 194px;
    @extend .ellipsis;
    display: block;
  }

  .title:hover{
    text-decoration: underline;
  }

  .date,.hits,.split{
    font-size: 13px;
    color :#999;
  }
}

.video_link:hover{
  text-decoration: none;
}

.channel_head{
  margin: 30px 0;
}


.video_info_box{
  .video_title{
    margin-top: 30px;
    font-size: 30px;
    color: #333;
    font-family: $font-common;
  }

  .hits{
    font-size: 16px;
    color: #757c7f;
    font-family: $font-common;
    margin-top: 10px;
    margin-left: 58px;
  }

}

//////////////////////////////////////////////////////
//////////////////// lagacy //////////////////////////
//////////////////////////////////////////////////////

.logo_area{
  font-size: 26px;
  position: relative;
  top: -6px;
  left: 25px;
  display: inline-block;

  .logo:hover{
    text-decoration: none;
  }

  .img_logo{
    position: relative;
    top: -3px;
    left: 7px;
  }
}

.btn_login{
  position: absolute;
  right: 20px;
  top: 16px;
}


.video_list{
  padding: 0;
  li{
    list-style: none;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
  }
  li:nth-child(4n){
    margin-right: 0;
  }
}

.btn-signup{
  position: absolute;
  right: 90px;
  top: 15px;
}


// video view
.ad_video{
  position: relative;
  top: 0;
  left: 0;

  .vjs-fullscreen-control,
  .vjs-remaining-time-display,
  .vjs-play-control,
  .vjs-progress-control{
    visibility: hidden !important;
    display: none !important;
  }

  .btn_ad_skip_a{
    position: absolute;
    bottom: 52px;
    right: 0;
    display: inline-block;
    border: 1px solid #fff;
    font-size: 20px;
    color: #fff;
    padding: 10px;
  }

  .btn_ad_skip_a:hover{
    color: #fff;
    text-decoration: none;
  }

  .btn_timer_on_the_screen {
    position: absolute;
    bottom: 51px;
    right: 0;
    display: inline-block;
    border: 1px solid #fff;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    height: 50px;
    cursor: default;
  }

  .btn_timer_on_the_screen:hover {
    color: #fff;
    text-decoration: none;
  }

  .timer_first_ad{
    color: yellow;
    font-size: 22px;
  }
}


.ban_in_video {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 9999;

  .ban_inner {
    position: relative;
    min-width: 500px;
    max-width: 900px;
    height: 80px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .btn_ban_in_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    background: url('http://static.holdemclub.tv/assets/images/v1/ad/btn_ad_close.png') no-repeat center 0;
  }
}

.video_view{
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}
