@charset "UTF-8";

html, body{
  overflow-x:hidden;
  font-family: Arial, "Nanum Gothic", sans-serif ;
}

.tp_center{
  width: $whole-width;
  margin: 0 auto;
}


.tp_hd{
  border-top: 5px solid #d33a3a;
  border-bottom: 1px solid #e0e0e0;

  .tp_hd_inner{
    height: 91px;
    position: relative;
    @extend .tp_center;
  }

  .tp_lg{
    text-align: center;
    position: relative;
    top: 28px;
  }

  .tp_tel{
    position: absolute;
    top: 40px;
    left: 10px;
  }
}

.tp_nav{
  height: 60px;
  border-bottom: 1px solid #e0e0e0;

  .tp_navigation{
    @extend .tp_center;
  }

  .nav_li{
    float: left;
    padding-left: 42px;
    padding-right: 42px;
    background:url('/static/images/main/bl_nav_split.gif') right center no-repeat;
  }

  .nav_li:last-child{
    background: none;
    padding-right: 0;
  }

  .nav_link{
    color: #333333;
    font-size: 20px;
    display: inline-block;
    line-height: 60px;
    height: 60px;
  }

  .nav_link:hover{
    color: #d33a3a;
  }

  .active{
    color: #d33a3a;
  }

}


.tp_ft{
  border-top: 1px solid #d7d7d6;

  .lg_ft{
    display: inline-block;
    position: absolute;
    top: 32px;
    left: 0;
  }

  .tp_ft_inner{
    position: relative;
    @extend .tp_center;
    padding-left: 210px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .addr{
    font-size: 13px;
    color: #666;
    line-height: 20px;
  }

  .addr_contact{
    padding-top: 20px;
  }

  .split{
    color: #dcdcdc;
    font-size: 12px;
    padding:0 5px;
  }

  .txt-addr-2{
    font-size: 24px;
  }
}

.tp_ft_nav_wrp{
  border-top: 1px solid #d7d7d6;
  height: 50px;

  .tp_ft_nav_inner{
    text-align: center;
    @extend .tp_center;
  }

  .ft_nav_li{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    background: url('/static/images/main/bl_split_ft.gif') right center no-repeat;
  }

  .ft_nav_li:last-child{
    background: none;
    padding-right: 0;
  }

  .ft_nav_link{
    display: inline-block;
    color: #666;
    font-size: 15px;
  }

  .ft_nav_link:hover{
    color: #d33a3a;
  }

  .tp_ft_nav{
    margin-top: 14px;
    margin-left: 160px;
  }
}

.tp_body{
  background: #f7f7f7;
}