@charset "UTF-8";

.m_footer{
  padding: 10px;
  border-top: 1px solid #e6e7e2;
  position: relative;

  address{
    font-size: 12px;
    color: #888;
    padding-top: 10px;
  }

  .m_ft_nav{
    padding-top: 10px;
  }

  .m_ft_list{
    float: left;
  }

  .split{
    float: left;
    font-size: 12px;
    color: #cdcdcd;
    padding:0 5px;
  }

  .m_ft_link{
    font-size: 13px;
    color: #707070;
  }

  .m_sns_list{
    float: left;
  }

  .m_sns{
    position: absolute;
    top: 15px;
    right: 10px;
  }


  .m_sns_list:first-child{
    margin-right: 5px;
  }


}