@charset "UTF-8";


.m_download_spot{
  text-align: center;
  background: #000814;
}

.m_banner_download{
  width: 100%;
  min-width: 300px;
  max-width: 640px;
}

.m_top_nav{
  height: 65px;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  background: #2b2b2b;

  .logo{
    text-align: center;
    display: inline-block;
  }

  .btn-lg{
    display: inline-block;
  }

  .btn-channel-list,
  .btn-nav-list,
  .btn-nav-home{
    position: absolute;
    top: 23px;
  }

  .btn-channel-list{
    left: 15px;
  }

  .btn-nav-list{
    right: 15px;
  }

  .btn-nav-home{
    top: 15px;
    left: 15px;
  }

}

.right_menu_m{
  width: 100%;
  background: #2b2b2b;
  z-index: 1000;

  .main_m{
    width: 100%;
    background: #fff;
    height: 60px;
    overflow: hidden;

    li{
      float: left;
      width: 50%;
      display: block;
      height: 60px;
    }

    a{
      display: block;
      text-align: center;
      line-height: 60px;
      font-size: 17px;
      color :#333;
      border-right: 1px solid #b8b8b8;
    }
  }

  .sub_m{
    li{
      border-bottom: 1px solid #000;
    }
    a{
      height: 60px;
      display: block;
      text-align: center;
      line-height: 60px;
      font-size: 17px;
      color: #999;
    }

  }
}

.header_s{
  padding-top: 30px;
}

.left_menu_m{
  .sub_nav_m{
    display: none;
  }

  .nav_list_m{
    width: 100%;
    border-bottom: 1px solid #383838;
    background: #2b2b2b;
  }

  .nav_list_m:hover{
    background: #212121;
    .sub_nav_m{
      display: block !important;
    }

    .linkNav{
      background: #212121 url('/static/images/mobile/ico_arrow_up.png') no-repeat right center !important;
      color :#fff !important;
    }
  }

  .linkNav{
    padding: 10px 0;
    margin: 0 20px;
    height: 50px;
    font-size: 18px;
    color: #999;
    background: #2b2b2b url('/static/images/mobile/ico_arrow.png') no-repeat right center;
    display: block;
    line-height: 30px;
  }

  .linkNav:hover{
    background: #212121 url('/static/images/mobile/ico_arrow_up.png') no-repeat right center;
    color :#fff;
  }

  .linkNav:hover{
    text-decoration: none;
  }

  .title{
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background: #8f0000;
    line-height: 50px;
    font-weight: bold;
  }

  .recomList_m{
    width: 100%;
  }


  .sub_list_nav_m{
    width: 100%;
  }

  .sub_link_m{
    padding: 10px 20px 10px 50px;
    height: 50px;
    font-size: 17px;
    color: #999;
    background: #454545;
    display: block;
    line-height: 30px;
  }

  .sub_link_m:hover{
    color: #ebcb9a;
    text-decoration: none;
  }

  .sub_list_m{
    border-bottom: 1px solid #5e5e5e;
  }

}