@charset "UTF-8";
// landing page

.tp_landing{
  padding: 20px 0 80px 0;
  @extend .tp_center;

  .signal_air{
    position: absolute;
    height: 24px;
    overflow: hidden;
    background: url('/static/images/main/bg_broadcast.png') no-repeat;
  }

  .air_on{
    width: 75px;
    background-position: -82px 0;
  }

  .air_off{
    width: 82px;
    background-position: 0 0;
  }

  .tp_expert_stock{
    float: left;
    width: 257px;
    margin-right: 15px;
    position: relative;
    .signal_air{
      top: 12px;
      left: 14px;
    }
  }

  .profile_list{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .p_list{
    float: left;
    width: 350px;
    margin-right: 15px;
    position: relative;
    .signal_air{
      bottom: 12px;
      right: 14px;
    }
    .desc{
      width: 185px;
      display: block;
      position: absolute;
      top: 92px;
      left: 0;
      color: #8d7c68;
      font-size: 13px;
      padding: 10px 15px;
      text-align: left;
      line-height: 22px;
    }
  }

  .p_list:last-child{
    margin-right: 0;
  }

  .tp_benefit{
    float: left;
  }

  .tp_current_benefit{
    float: left;
    width: 350px;
    height: 355px;
    background: #fff url('/static/images/main/bg_benefit.gif') no-repeat;
    margin-left: 15px;
    border: 1px solid #dfdfdf;
    padding: 20px;
    .tit{
      font-size: 20px;
    }
  }

  .bf_list_wrp{
    margin-top: 30px;
  }

  .bf_list{
    position: relative;
    margin-bottom: 20px;
    font-size: 17px;
    .target{
      color: #000;
    }
    .num{
      color: #999;
      margin-left: 10px;
    }
    .percentage{
      position: absolute;
      right: 0;
      top: 0;
      font-size: 19px;
      color: #d02b2b;
      padding-left: 20px;
      background: url('/static/images/main/bl_up_progress.gif') 0 center no-repeat;
    }
  }

  .bf_list:last-child{
    margin-bottom: 0;
  }

  .btn-more-benefit{
    display: inline-block;
    margin-left: 65px;
    margin-top: 10px;
  }

  .free_experience{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 240px;
    position: relative;
    background: url('/static/images/main/bg_customer_approach.gif') no-repeat;


    .desc{
      font-size: 13px;
      color: #999;
    }
  }

  .btn-free-exp{
    position: absolute;
    right: 1px;
    top: 1px;
  }

  .tp_form_free{
    position: absolute;
    top: 110px;
    right: 130px;
    width: 480px;
    height: 130px;
    padding-top: 20px;
  }

  .input_customer_name{
    width: 166px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    border: 1px solid #333;
  }

  .mid-tel,.end-tel{
    width: 45px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    border: 1px solid #333;
  }

  .info{
    margin-top: 15px;
  }

  .btn-view-agreement{
    color: #333;
  }

  .btn-view-agreement:hover{
    color: #d02b2b;
  }

  .vip_count{
    height: 70px;
    border: 1px solid #e1e1e1;
    background: #fff;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
  }

  .tp_vip_count{
    position: relative;
    width: 365px;
    height: 70px;
    overflow: hidden;
    background: url('/static/images/main/bg_vip_count.jpg') no-repeat;
  }

  .person_count{
    color: #fef394;
    font-size: 30px;
  }

  .unit{
    color: #fff;
    font-size: 15px;
  }

  .vip_info_pos{
    position: absolute;
    right: 30px;
    top: 15px;
  }


  .stock_info{
    line-height: 90px;
  }

  .kospi,.cosdaq,.exchange{
    width: 350px;
    height: 95px;
    border: 1px solid #e1e1e1;
    // padding: 0 20px;
    margin-right: 15px;
    float: left;
    background: #fff;
    text-align: center;

    .name{
      color: #333;
      font-size: 16px;
      margin-right: 15px;
    }
    .num{
      color: #333;
      font-size: 28px;
    }
    .percentage{
      font-size: 28px;
      padding-left: 24px;
      margin-left: 15px;
      overflow: hidden;
    }
    .bg_up_info{
      background: url('/static/images/main/bl_up_info.gif') 0 center no-repeat;
    }
    .bg_down_info{
      background: url('/static/images/main/bl_down_info.gif') 0 center no-repeat;
    }
  }
  .exchange{
    margin-right: 0;
  }

  .swiper-pagination-bullet-active{
    background: #d02b2b !important;
  }

  .swiper-pagination-bullet{
    background: #fff;
  }

  .current_apply{
    position: absolute;
    top: 0;
    left: 365px;
    width: 715px;
    height: 70px;
  }

  .participant{
    position: relative;
  }

  .participant_wrp{
    margin-bottom: 0;
  }

  .participant_list{
    text-align: center;
    font-size: 15px;
    color: #666;
    padding: 5px 0;
  }

  /* ticker */
  .TickerNews{
    width: 100%;
    height: 70px;
    line-height: 70px;
  }

  .ti_wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .ti_slide{
    width: 30000px;
    position: relative;
    left: 0;
    top: 0;
  }

  .ti_content{
    width: 8000px;
    position: relative;
    float:left;
  }

  .ti_news{
    float:left;
    margin: 0 40px;
  }
  /* end ticker */

  .tp_banner{
    position: relative;
  }

  .live_post_review{
    position: relative;
    margin-top: 16px;
    height: 300px;
    background: url('/static/images/main/bg_post_review.gif') no-repeat;
    overflow: hidden;

    .tit{
      font-size: 20px;
      color: #f4f6ff;
      height: 72px;
      line-height: 72px;
    }
  }

  .slider_post_wrp{
    position: relative;
    height: 228px;
  }


  .post-button-prev{
    width: 32px !important;
    height: 58px !important;
    padding: 10px !important;
    overflow: hidden;
    background: url('/static/images/banner/btn-post-left.png') center center no-repeat;
  }


  .post-button-next{
    width: 32px !important;
    height: 58px !important;
    overflow: hidden;
    background: url('/static/images/banner/btn-post-right.png') center center no-repeat;
  }
}


.tp_approval{
  background: url('/static/images/main/ban_proof.gif') no-repeat;
  height: 220px;
  position: relative;
  margin-bottom: 15px;
  .btn-view-approval-doc{
    position: absolute;
    bottom: 43px;
    right: 24px;
    width: 220px;
    height: 65px;
  }
  
  .whole-benefit-ratio{
    position: absolute;
    top: 144px;
    left: 22px;
    font-size: 30px;
    color: #d02b2b;
  }
  
  .txt-yellow{
    font-size: 40px;
  }
}