@charset "UTF-8";

.tp_service{
  position: relative;
  padding-bottom: 105px;
}

.tp_banner_info{
  height: 130px;
  background: url('/static/images/service/bg_info_service.jpg') center 0 no-repeat;
}

.tp_content_img{
  position: relative;
  margin: 0 auto;
  width: 1080px;
  margin-top: 30px;
  height: 998px;
  background: url('/static/images/service/img_info_service.gif') center 0 no-repeat;
}

.tp_wing_left{
  position: absolute;
  top: 0;
  left: -173px;
}

.tp_wing_right{
  position: absolute;
  top: 0;
  right: -173px;
}
