@charset "UTF-8";

$font-sansCJK : 'Noto Sans CJK KR';
$font-shs : 'SpoqaHanSans';


@font-face {
  font-family: $font-sansCJK;
  src: url('http://static.holdemclub.tv/assets/fonts/NotoSansCJKkr-Regular.otf');
}

@font-face {
  font-family: $font-shs;
  src: url('http://static.holdemclub.tv/assets/fonts/Spoqa+Han+Sans+Regular.ttf');
}


$whole-width : 1080px;




$width-size01 : 1050px;
$main-color: #c30000;
$main-font-color: #333;
$content-max-width : 1200px;
