@charset "UTF-8";

$font-sansCJK : 'Noto Sans CJK KR';
$font-shs : 'SpoqaHanSans';
//$font-family01 : 'Noto Sans CJK KR', 'Malgun Gothic', '맑은 고딕', 'Sans-serif';
$whole-width : 1080px;




$width-size01 : 1050px;
$main-color: #c30000;
$main-font-color: #333;
$content-max-width : 1200px;
