@charset "UTF-8";

.tp_vip{
  position: relative;
  padding-bottom: 105px;
}

.bg_ban_vip{
  height: 130px;
  background: url('/static/images/vip/bg_info_vip.jpg') center 0 no-repeat;
}

.img_info_vip{
  height: 637px;
  margin-top: 30px;
  background: url('/static/images/vip/img_info_vip.jpg') center 0 no-repeat;
}